.wp-block-group {
	&.has-background {
		padding: 5px;
	}
}

.wp-block-columns {
	margin-bottom: 0;
	gap: var(--wp--style--block-gap, 0);
	
	&.has-background {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	&.is-selected,
	&.has-child-selected {
		&::before {
			content: '';
			position: absolute;
		}
	}

	&::before {
		pointer-events: none;
		top: 0;
		left: var(--wp--custom--gutter);
		right: var(--wp--custom--gutter);
		bottom: 0;
		color: rgba(0,0,0,0.1);
		z-index: 0;
		background-image: repeating-linear-gradient(to right, currentColor, currentColor 1px, transparent 1px, transparent);
		background-size: 8.33%;
		border-top: 1px solid currentColor;
    	border-bottom: 1px solid currentColor;
	}
	
	& > .wp-block-column {
		flex: 1 0 0%;

		&:not(:first-child) {
			margin-left: 0;
		}

		&[class*="col-"] {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: auto;
		}
	}
}