.wp-block-group {
	&.has-background {
		padding: 0;
	}
}

.wp-block-columns {
	@include make-container(0);
	flex-wrap: wrap;
	margin-bottom: 0;
	box-sizing: border-box;
	
	&.has-background {
		padding: 0;
	}

	&.is-selected,
	&.has-child-selected {
		// padding-bottom: 10px;
		
		&::before {
			position: absolute;
		}
	}

	&::before {
		content: '';
		position: relative;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: rgba(0,0,0,0.1);
		z-index: 0;
		background-image: repeating-linear-gradient(to right, currentColor, currentColor 1px, transparent 1px, transparent);
		background-size: 8.33%;
		border-top: 1px solid #efefef;
    	border-bottom: 1px solid #efefef;
	}
}

.wp-block-column {
	--bs-gutter-x: 1.5rem;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);

	& ~ .wp-block-column {
		margin-left: 0!important;
	}
}