.wecodeart-responsive-tabs,
.wecodeart-horizontal-tabs {
	.components-base-control,
	.components-base-control__field {
		margin-bottom: 0 !important;
	}
	
	.components-tab-panel__tab-content {
		width: 100%;
	}
}

.wecodeart-responsive-tabs {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	.components-tab-panel__tabs {
		align-items: center;
		display: flex;
		margin-left: 7px;
		margin-right: 1px;
		position: relative;
		top: 11px;
	}

	&__item {
		color: #212121;
		border-color: #212121;
		background: #f3f5f6;
		align-items: center;
		appearance: none;
		border: 1px solid;
		border-radius: 4px;
		height: 28px;
		line-height: 1;
		margin: 0;
		padding-left: 7px;
		padding-right: 7px;

		@media (max-width: 782px) {
			height: 40px;
			padding-left: 17px;
			padding-right: 17px;
		}

		@media (max-width: 514px) {
			padding-left: 10px;
			padding-right: 10px;
		}

		&:hover {
			background: #f1f1f1;
			border-color: var(--wp-admin-theme-color);
			color: var(--wp-admin-theme-color);
			text-decoration: none;
		}

		&:focus:enabled {
			background: #f3f5f6;
			color: var(--wp-admin-theme-color);
			border-color: var(--wp-admin-theme-color);
			box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color);
			text-decoration: none;

		}

		&:active:enabled {
			background: #f3f5f6;
			color: var(--wp-admin-theme-color);
			border-color: #7e8993;
			box-shadow: none;
		}

		&.is-active {
			background: var(--wp-admin-theme-color);
			border-color: var(--wp-admin-theme-color);
			color: $white;
			text-decoration: none;
			text-shadow: none;

			&:hover,
			&:focus:enabled {
				background: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
				color: $white;
			}

			&:active:enabled {
				background: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
				color: $white;
			}
		}

		&:first-of-type {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;

			&:not(.is-active) {
				border-right: none;
			}
		}

		&:last-of-type {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;

			&:not(.is-active) {
				border-left: none;
			}
		}

		svg {
			height: 15px;
			width: 15px;
		}
	}
}

.wecodeart-horizontal-tabs {
	border: 1px solid #d3d3d3;
	border-top: 0;

	&__item {
		flex: 1 1 auto;
		justify-content: center;
		color: #212121;
		background: #FFF;
		align-items: center;
		appearance: none;
		box-shadow: none;
		border: 1px solid #d3d3d3;
		border-radius: 0;
		height: 28px;
		line-height: 1;
		margin: 0;
		padding-left: 7px;
		padding-right: 7px;

		@media (max-width: 782px) {
			height: 40px;
			padding-left: 17px;
			padding-right: 17px;
		}

		@media (max-width: 514px) {
			padding-left: 10px;
			padding-right: 10px;
		}

		&:hover,
		&:focus:enabled {
			background: #f3f5f6;
			border-color: var(--wp-admin-theme-color);
			color: var(--wp-admin-theme-color);
			text-decoration: none;

		}

		&:active:enabled {
			background: #f3f5f6;
			color: var(--wp-admin-theme-color);
			box-shadow: none;
		}

		&.is-active {
			background: var(--wp-admin-theme-color);
			border-color: var(--wp-admin-theme-color);
			color: $white;
			text-decoration: none;
			text-shadow: none;

			&:hover,
			&:focus:enabled,
			&:active:enabled {
				background: var(--wp-admin-theme-color);
				border-color: var(--wp-admin-theme-color);
				color: $white;
			}

			svg {
				fill: white;
			}
		}

		svg {
			height: 15px;
			width: 15px;
		}
	}
	
	.components-tab-panel {
		&__tabs {
			position: relative;
			display: flex;
			margin-left: -1px;
			margin-right: -1px;
			justify-content: space-between;
		}

		&__tab-content {
			padding: 10px;
		}
	}
}