/*--------------------------------------------------------------
# Hide Title
--------------------------------------------------------------*/
.edit-post-visual-editor__post-title-wrapper {
	.editor-post-title {
		--wp--style--block-gap: 1.5rem;

		.theme-wecodeart--hidden-title & {
			opacity: 0.5;
		}
	}
}

.wecodeart-gb-plugin--post-title {
	.components-base-control__field {
		margin-bottom: 0.5rem!important;
	}
}