/*--------------------------------------------------------------
# Title
--------------------------------------------------------------*/
.edit-post-visual-editor__post-title-wrapper {
	&.is-disabled  {
		opacity: 0.5;
	}

	.editor-post-title {
		--wp--style--block-gap: 1.5rem;
		margin-bottom: var(--wp--style--block-gap);
	}
}