.wecodeart-horizontal-tabs--tooltips {
    border-top: 1px solid #d3d3d3;
    margin-bottom: 10px;
    
    .components-tab-panel__tabs {
        border-bottom: 1px solid #d3d3d3;
    }

    .components-button {
        padding: 10px 15px;
        flex: 1 1 auto;
        text-align: center;
        justify-content: center;

        & + .components-button {
            border-left: 1px solid #d3d3d3;
        }
    }

    .components-base-control {
        &__label {
            display: block;
        }
        
        &__help {
            margin-top: 5px;
        }
    }
}

.wecodeart-tooltips-modal {
    min-width: 40rem;
}

.components-modal--wecodeart-features-import-export {

	.components-modal__header,
	.components-placeholder {
		margin-bottom: 0;
	}

	.components-notice {
		width: 100%;
	}

	div.components-tab-panel__tab-content {
		padding-bottom: 0;
	}
}