.content {
    overflow-x: hidden;
}

.entry-content {
    .alignfull { //  + 17px / 2 if we take into consideration the scrollbars
        margin-left: calc( -50vw + 50% );
        margin-right: calc( -50vw + 50% );
        max-width: 100vw;
        width: auto;
    }
}

html.has-scrollbar {
    .entry-content {
        .alignfull {  
            margin-left: calc( -50vw + 50% + 17px / 2 );
            margin-right: calc( -50vw + 50% + 17px / 2 );
            max-width: 100vw;
            width: auto;
        }
    } 
}