/*--------------------------------------------------------------
# Backgrounds
--------------------------------------------------------------*/
.wp-block {
    &[data-wca-background="1"] {
        background-position: center center;
    }
}

@each $color, $value in $theme-colors {
	.has-#{$color}-background-color {
		background-color: $value;
	}

	p.has-#{$color}-background-color {
		@include alert-variant( $value, transparent, white );
	}
}

.has-inline-background {
	@include border-radius();
	padding: .10rem .2rem;
	margin: 0 .2rem;
}

.wecodeart-background-panel {
	.component-color-indicator {
        position: absolute;
        margin: 0;
        top: 50%;
        right: 40px;
        transform: translate3d(0,-50%,0);
    }
}