/*--------------------------------------------------------------
# Code Editor
--------------------------------------------------------------*/
.wecodeart-advanced-css {
	&__editor {
		border: 1px solid #e2e4e7;
		margin-bottom: 20px;
	}
	
	&__help {
		background: #f7f7f7;
		padding: 20px;
	}
}