.wp-block-columns {
    & > .editor-inner-blocks {
        & > .editor-block-list__layout {
            margin-left: 0;
            margin-right: 0;

            & > [data-type="core/column"] {
                flex-basis: 50%;
                margin-left: 0!important;
                margin-right: 0!important;

                & > .block-editor-block-list__block-edit {
                    margin-left: inherit;
                    margin-right: inherit;
                }
            }
        }
    }
}