{
    "env": {
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module" 
    },
    "rules": {
        "semi": 2
    }
}