.author-box {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-top: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;

    .author & {
        margin-bottom: 0!important;
        border-bottom: none;
    }

    &__headline {
        svg {
            width: 20px;
            height: 20px;
            vertical-align: -8%;

            @include media-breakpoint-up( 'sm' ) {
                width: 30px;
                height: 30px;
            } 
        }
    }

    &__social {
        display: flex;
        margin: 0 -5px;

        &-item {
            margin: 0 5px;
        }

        svg {
            display: block;
            fill: currentColor;
        }
    }
}