.comments {
    svg {
        width: 30px;
        height: 30px;
        vertical-align: -8%;

        @include media-breakpoint-down(sm) {
            width: 20px;
            height: 20px;
        }
    }

    label {
        width: 100%;
    }

    ul,
    ol {
        list-style: none;
    }
}

.comment {
    .bypostauthor {
        color: initial;
    }

    .comment-reply {
        margin-top: -1rem;
        margin-right: 1rem
    }
} 
