.entry-meta {
    margin-bottom: 1.5rem;

    svg {
        width: 15px;
        height: 15px;
        vertical-align: -8%;
        fill: #949494;
    }
}

.entry-title {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding-top: 1rem;
}