.wca-notice {
    position: relative;
    padding-left: 70px;
    min-height: 65px;

    &__branding {
        position: absolute;
        top: 0;
        left: 0;

        img {
            display: block;
            width: 100%;
            max-width: 65px;
            height: auto;
        }
    }
}