// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// Vars
$prefix: wca--;
$enable-cssgrid: true;
// Utils
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";

// CSS
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/badge";

// General
.appearance_page_wecodeart {
	#wpcontent {
		padding-left: 0;
	}

	.wca-notice {
		margin: 0;

		&+.wca-notice {
			margin-top: 1rem;
		}
	}
}

// Admin
.wecodeart-admin {
	--wca--header--background: #2c3338;
	--wca--header--color: #98A2B3;
	--wca--body--background: #f1f5f9;
	--wca--body--color: #111;
	--wca--gutter: 12px;
	--wca--border--color: #e2e4e7;
	// Other
	position: relative;
	background-color: var(--wca--body--background);
	color: var(--wca--body--color);

	@include media-breakpoint-up('md') {
		--wca--gutter: 50px;
	}

	/* Donate */
	#donate-button {
		@include media-breakpoint-up('md') {
			text-align: right;
		}

		img {
			max-width: 110px;
		}
	}

	/* Layout */
	.grid--layout {
		--wca--columns: 1;

		@include media-breakpoint-up('md') {
			--wca--columns: 12;
		}

		@include media-breakpoint-up('xl') {
			--wca--gap: 4rem;
		}

		.grid {
			&__main {
				@include media-breakpoint-up('lg') {
					grid-column: 1 / span 8;
				}
			}

			&__side {
				@include media-breakpoint-up('lg') {
					grid-column: 9 / span 4;
				}
			}
		}
	}

	/* Panels */
	.components-panel {
		min-height: 100vh;
		background-color: inherit;
		border: 0;

		.components-panel__header {
			border: 0;
			display: block;
			height: auto;
			padding: 25px var(--wca--gutter);
			margin: 0 calc(-1 * var(--wca--gutter));
			background-color: var(--wca--header--background);
			color: var(--wca--header--color);

			h2 {
				font-size: 2rem;
				font-weight: 300;
				line-height: 1.2;
			}

			code {
				margin-left: 15px;
				border-radius: 2px;
				background-color: rgba(0, 0, 0, .2);
				font-size: .6rem;
			}

			form {
				@include media-breakpoint-up('md') {
					float: right;
				}
			}

			.wecodeart-panel__header-hint {
				font-size: .6rem;
				margin: 0 0 20px;
				color: white;
				opacity: .5;
			}
		}

		.components-panel__row {
			margin-top: 0;
		}

		.components-panel__body {
			padding: 0 var(--wca--gutter) var(--wca--gutter);
		}
	}

	/* Tabs */
	.wecodeart-tab-panel {
		overflow: hidden;
		margin: 0 calc(-1 * var(--wca--gutter));
		width: calc(100% + 100px);

		.components-tab-panel {
			&__tabs {
				padding: 0 var(--wca--gutter);
				border-bottom: 1px solid var(--wca--border--color);

				&-item {
					padding: 10px 15px;
					border-bottom: 5px solid transparent;
					font-size: 14px;
					font-weight: 500;
					color: #475569;

					@media screen and (max-width: 640px) {
						font-size: 12px;
					}

					&:hover {
						opacity: 1;
						background-color: #f8fafc;
						border-color: #ccc;
					}

					&:focus {
						color: var(--wp-admin-theme-color);
						box-shadow: none;
					}

					&.active-tab {
						background: #e2e8f0;

						&,
						&:hover {
							border-color: var(--wp-admin-theme-color);
						}
					}
				}
			}

			&__tab {
				&-content {
					padding: 0 var(--wca--gutter);
				}
			}
		}

		&--vertical {
			display: flex;

			.components-tab-panel {
				&__tabs {
					padding: 15px 0;
					border-right: 1px solid var(--wca--border--color);

					&-item {
						position: relative;
						border: none;
						margin-right: -1px;
						color: var(--wca--body--color);
						min-width: 180px;
						min-width: max-content;

						&::before {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							border: 1px solid var(--wca--border--color);
							border-right: 0;
						}

						&.active-tab {
							background-color: white;
						}

						&+button::before {
							border-top: 0;
						}
					}
				}

				&__tab {
					&-content {
						flex: 1 1 auto;
						padding: 15px;
						background-color: white;
						border-bottom: 1px solid var(--wca--border--color);
					}
				}
			}
		}
	}

	/* Table */
	.table {
		background-color: white;
		border: 1px solid var(--wca--border--color);
		border-collapse: collapse;

		td,
		th {
			vertical-align: middle;

			&:not(:first-child) {
				border-left: 1px solid var(--wca--border--color);
			}

			&:first-child {
				width: 25%;
			}
		}

		td {
			border-top: 1px solid var(--wca--border--color);

			label {
				display: block;
				font-weight: bold;
			}

			input {
				display: block;
				width: 100%;
				padding: 4px 8px;
			}

			strong {
				color: #121212;
				font-size: 1rem;
			}
		}
	}

	/* Cards */
	.grid--cards {
		--wca--columns: 1;
		--wca--gap: 1rem;

		@include media-breakpoint-up('sm') {
			--wca--columns: 2;
		}
	}

	.components-card {
		--wca--card-bg: var(--wca--white);
		background-color: var(--wca--card-bg);
		background-image: var(--wca--card-image, none);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom -55px right -10px;
		margin: 0;

		&[style] {
			.components-card__body {
				max-width: 75%;
			}
		}

		&__body {
			color: rgba(36, 47, 87, .7);
		}
	}

	/* Social */
	.wp-block-social-links {
		list-style: none;
		justify-content: flex-start;

		a {
			display: block;
			text-decoration: none;
		}

		svg {
			display: block;
		}
	}

	/* Controls */
	.components-base-control {
		max-width: 768px;
	}

	.components-range-control {
		max-width: 620px;
	}

	/* Notices */
	.components-editor-notices__snackbar {
		position: fixed;
		bottom: 20px;
		padding-left: 16px;
		padding-right: 16px;
	}
}