// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
// Grid / Utilities
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/card";

.appearance_page_wecodeart #wpcontent {
	padding-left: 0;
}

.wecodeart-admin {
	--wca--body--background: #f1f5f9;
	--wca--body--color: #111;
	--wca--gutter: 12px;
	--wca--border--color: #e2e4e7;
	position: relative;
	background-color: var(--wca--body--background);
	color: var(--wca--body--color);

	@media screen and (min-width: 783px) {
		--wca--gutter: 50px;
	}
	
	.components-panel {
		min-height: 100vh;
		background-color: inherit;

		.components-panel__header {
			border: 0;
			display: block;
			height: auto;
			padding: 25px var(--wca--gutter);
			margin: 0 calc(-1 * var(--wca--gutter));

			h2 {
				font-size: 35px;
				font-weight: 300;
				line-height: 1;
				margin-bottom: 10px;
			}

			code {
				margin-left: 5px;
				border-radius: 2px;
				font-size: 11px;
				opacity: 0.7;
			}

			p {
				color: #333;
				font-size: 1.15rem;
			}

			.wecodeart-panel__header-hint {
				font-size: 12px;
				opacity: 0.4;
				margin: 0 0 40px;
				padding: 0;
			}
		}

		.components-panel__row {
			margin-top: 0;
		}

		.components-panel__body {
			padding: 0 var(--wca--gutter) var(--wca--gutter);
		}
	}

	/* Tabs */
	.wecodeart-tab-panel {
		overflow: hidden;
		margin: 0 calc(-1 * var(--wca--gutter));
		width: calc(100% + 100px);	

		.components-tab-panel {
			&__tabs {
				padding: 0 var(--wca--gutter);
				border-bottom: 1px solid var(--wca--border--color);
	
				&-item {
					padding: 10px 15px;
					border-bottom: 5px solid transparent;
					font-size: 1rem;
					font-weight: 500;
					color: #475569;

					@media screen and (max-width: 640px) {
						font-size: 12px;
					}
	
					&:hover {
						opacity: 1;
						background-color: #f8fafc;
						border-color: #ccc;
					}

					&:focus {
						color: var( --wp-admin-theme-color );
						outline-offset: -1px;
						outline: 1px dotted #555d66;
						box-shadow: none;
					}
	
					&.active-tab {
						background: #e2e8f0;

						&,
						&:hover {
							border-color: var( --wp-admin-theme-color );
						}
					}
				}
			}

			&__tab {
				&-content {
					padding: 0 var(--wca--gutter);
				}
			}
		}

		&--vertical {
			display: flex;
	
			.components-tab-panel {
				&__tabs {
					flex-direction: column;
					padding: 15px 0;
					border-right: 1px solid var(--wca--border--color);

					&-item {
						border: none;
						margin-right: -1px;
						color: var(--wca--body--color);

						&.active-tab {
							background-color: white;
						}
					}
				}
	
				&__tab {
					&-content {
						flex: 1 1 auto;
						padding: 15px;
						background-color: white;
						border-bottom: 1px solid var(--wca--border--color);
					}
				}
			}
		}
	}
	
	/* Buttons */
	.wecodeart-button-field {
		label {
			display: block;
			font-weight: bold;
		}
		
		input {
			display: block;
			width: 100%;
			padding: 4px 8px;
		}
	}
	
	.wecodeart-button-group {
		display: inline-flex;
		align-items: center;
		margin: 0;
	
		.is-primary {
			padding: 0px 20px;
			font-size: 14px;
			margin-right: 10px;
			margin-bottom: 0;
		}
	}

	/* Table */
	.wecodeart-table {
		background-color: white;
		border: 1px solid var(--wca--border--color);
		border-collapse: collapse;

		td,
		th {
			vertical-align: middle;
			
			&:not(:first-child) {
				border-left: 1px solid var(--wca--border--color);
			}

			&:first-child {
				width: 25%;
			}
		}

		td {
			border-top: 1px solid var(--wca--border--color);

			strong {
				color: #121212;
				font-size: 16px;
			}
		}
	}

	/* Notices */
	.components-editor-notices__snackbar {
		position: fixed;
		bottom: 20px;
		padding-left: 16px;
		padding-right: 16px;
	}
}
