// The following selectors have increased specificity (using the :root prefix)
// to assure colors take effect over another base class color, mainly to let
// the colors override the added specificity by link states such as :hover.
:root {
	div[class*="has-background"] {
        &.bg {
            // Background transparency
            &-transparent {
                background-color: transparent !important;
            }
        
            // Background repeat
            &-repeat {
                background-repeat: repeat;
            }
        
            &-no-repeat {
                background-repeat: no-repeat;
            }
        
            &-repeat-x {
                background-repeat: repeat-x;
            }
        
            &-repeat-y {
                background-repeat: repeat-y;
            }
        
            // Background size
            &-cover {
                background-size: cover;
            }
        
            &-auto {
                background-size: auto;
            }
        
            &-contain {
                background-size: contain;
            }
        
            // Background position
            &-top-left {
                background-position: top left;
            }
        
            &-top-center {
                background-position: top center;
            }
        
            &-top-right {
                background-position: top right;
            }
        
            &-center-left {
                background-position: center left;
            }
        
            &-center-center {
                background-position: center center;
            }
        
            &-center-right {
                background-position: center right;
            }
        
            &-bottom-left {
                background-position: bottom left;
            }
        
            &-bottom-center {
                background-position: bottom center;
            }
        
            &-bottom-right {
                background-position: bottom right;
            }
        }
        
        &.has-parallax {
            background-attachment: fixed;
        
            // Mobile Safari does not support fixed background attachment properly.
            // See also https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios
            // Chrome on Android does not appear to support the attachment at all: https://issuetracker.google.com/issues/36908439
            @supports (-webkit-overflow-scrolling: touch) {
                background-attachment: scroll;
            }
        
            // Remove the appearance of scrolling based on OS-level animation preferences.
            @media (prefers-reduced-motion: reduce) {
                background-attachment: scroll;
            }
        }
        
        &.is-repeated {
            background-repeat: repeat;
            background-size: auto;
        }
        
        &.has-background-dim {
            position: relative;
    
            &:not(.has-background-gradient)::before {
                content: "";
                background-color: inherit;
            }
        
            &:not(.has-background-gradient)::before,
            & > span[aria-hidden="true"] {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                opacity: 0.5;
            }
    
            // Gradient levels
            @for $i from 1 through 10 {
                &-#{ $i * 10 } {
                    &:not(.has-background-gradient)::before,
                    & > span[aria-hidden="true"] {
                        opacity: $i * 0.1;
                    }
                }
            }
        }
	}

	.has-inline-background {
		@include border-radius();
		padding: .20rem .8rem;
		margin: 0 .2rem;
	}

    .has-text-align-center {
        text-align: center;
    }

    .has-text-align-right {
        text-align: right;
    }

	.has-text-align-justify {
		text-align: justify;
	}

	.has-underline {
		text-decoration: underline;
	}

    .screen-reader-response,
    .screen-reader-text {
        border: 0;
        clip: rect(1px,1px,1px,1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal;

        &:focus {
            background-color: var(--wp--preset--color--primary, #eee);
            border-radius: 3px;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            clip: auto !important;
            clip-path: none;
            color: var(--wp--preset--color--white, #444);
            display: block;
            width: auto;
            height: auto;
            left: 5px;
            top: 5px;
            padding: 15px 23px 14px;
            font-size: 1rem;
            font-weight: bold;
            line-height: normal;
            text-decoration: none;
            z-index: 100000; /* Above WP toolbar. */
        }
    }

    // Dark Theme
    .theme-is-dark {
        .form-control,
        .input-group-text,
        .btn-outline-dark {
            color: white;
            border-color: rgba(0, 0, 0, 0.3);
        }

        .input-group-text,
        .form-control {
            background-color: rgba(0, 0, 0, 0.15);
        }

        .form-floating {
            .form-control {
                &::placeholder {
                    color: transparent;
                }
                
                &:-moz-placeholder {
                    color: transparent;
                }
        
                &::-webkit-input-placeholder {
                    color: transparent;
                }
            }
        }
    }
	/*lint-enable function-comma-space-after */
}