$button-margin: 10px;

.wp-block-buttons {
	display: flex;
	flex-flow: row wrap;
	
	&.is-style-default {
		margin: 0 #{-$button-margin};

		> .wp-block-button {
			padding: 0 $button-margin;
			margin-bottom: 1rem;
		}
	}

	&.is-style-group {
		vertical-align: middle;

		&:not(.is-vertical) {
			> .wp-block-button {
				// Reset rounded corners
				&:not(:last-child)  {
					& > .wp-block-button__link {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
	
				&:not(:first-child)  {
					> .wp-block-button__link {
						border-left: 0;
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
		}

		&.is-vertical {
			> .wp-block-button {
				margin: 0;

				&:not(:first-child) {
					margin-top: -$btn-border-width;
				}
	
				// Reset rounded corners
				&:not(:last-child) > .wp-block-button__link {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
	
				&:not(:first-child) > .wp-block-button__link {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}
		}
	}
	
	&.is-vertical {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: $spacer;
	}

	&.is-content-justification-left {
		justify-content: flex-start;

		&.is-vertical {
			align-items: flex-start;
		}
	}

	&.is-content-justification-center {
		justify-content: center;

		&.is-vertical {
			align-items: center;
		}
	}

	&.is-content-justification-right {
		justify-content: flex-end;

		&.is-vertical {
			align-items: flex-end;
		}
	}

	&.is-content-justification-space-between {
		justify-content: space-between;
	}

	> .wp-block-button {
		position: relative;
		display: inline-block;
		margin-bottom: 1rem;

		&:hover {
			z-index: 1;
		}

		&__link {	  
			&:focus,
			&:active,
			&.active {
				z-index: 1;
			}
		}
	}
}

.wp-block-button {
	&.has-custom-width {
		max-width: none;

		.wp-block-button__link {
			min-width: 100%;
		}
	}

	&.wp-block-button__width-25 {
		min-width: 25%;
	}

	&.wp-block-button__width-50 {
		min-width: 50%;
	}

	&.wp-block-button__width-75 {
		min-width: 75%;
	}

	&.wp-block-button__width-100 {
		min-width: 100%;
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}

	&__link {
		display: block;
		
		&:not([class*="btn-"]) {
			.is-style-outline & {
				border-color: currentColor;

				&:hover,
				&:focus {
					background-color: var( --wca-color );
					border-color: var( --wca-color );
					color: white
				}
			}
		}

		&.no-border-radius {
			@include border-radius(0);
		}
	}
}