.wp-block-calendar {
	text-align: center;

	th,
	tbody td {
		padding: 4px;
		border: 1px solid var(--bs-light);
	}

	tfoot td {
		border: none;
	}

	table {
		width: 100%;
		border-collapse: collapse;

		th {
			font-weight: 400;
			background: var(--bs-gray);
		}

		tbody,
		caption {
			color: var(--bs-gray-dark);
		}
	}

	a {
		text-decoration: underline;
	}

	tfoot a {
		color: var(--bs-primary);
	}
}
