.wp-block-cover {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 350px;
	background-size: cover;
	background-position: center center;
	overflow: hidden;

	// Apply max-width to floated items that have no intrinsic width
	&.alignleft,
	&.alignright {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		float: none;
	}

	// Using flexbox without an assigned height property breaks vertical center alignment in IE11.
	// Appending an empty ::after element tricks IE11 into giving the cover image an implicit height, which sidesteps this issue.
	&::after {
		content: "";
		display: block;
		font-size: 0;
		min-height: inherit;

		// IE doesn't support flex so omit that.
		@supports (position: sticky) {
			content: none;
		}
	}

	&__inner-container {
		@include make-container();
		@each $breakpoint, $container-max-width in $container-max-widths {
			@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
				max-width: $container-max-width;
			}
		}
		z-index: 2;

		.alignfull & {
			max-width: 100%;
		}

		.has-custom-content-position & {
			display: flex;
			flex-direction: column;
		}

		// Position: Left
		.is-position-top-left &,
		.is-position-center-left &,
		.is-position-bottom-left & {
			align-items: flex-start;
		}

		// Position: Center
		.is-position-top-center &,
		.is-position-center-center &,
		.is-position-bottom-center & {
			align-items: center;
		}

		// Position: Right
		.is-position-top-right &,
		.is-position-center-right &,
		.is-position-bottom-right & {
			align-items: flex-end;
		}
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		&:not(.has-text-color) {
			color: white;
		}
	}

	// Position: Top
	&.is-position-top-left,
	&.is-position-top-center,
	&.is-position-top-right {
		align-items: flex-start;
	}
	
	// Position: Center
	&.is-position-center-left,
	&.is-position-center-center,
	&.is-position-center-right {
		align-items: center;
	}

	// Position: Bottom
	&.is-position-bottom-left,
	&.is-position-bottom-center,
	&.is-position-bottom-right {
		align-items: flex-end;
	}

	&__image-background,
	&__video-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
		object-fit: cover;
		outline: none;
		border: none;
		box-shadow: none;
	}
}