.wp-block-image {
	img {
		max-width: 100%;
		height: auto;
	}

	&.alignfull img,
	&.alignwide img {
		width: 100%;
	}

	// Floats get an extra wrapping <div> element, so the <figure> becomes a child.
	.alignleft,
	.alignright,
	.aligncenter,
	&.is-resized {
		display: table;

		> figcaption {
			display: table-caption;
			caption-side: bottom;
		}
	}

	&.is-style-circle-mask,
	&.is-style-rounded {
		img {
			// We use an absolute pixel to prevent the oval shape that a value of 50% would give
			// to rectangular images. A pill-shape is better than otherwise.
			border-radius: 9999px;
		}
	}

	&.is-style-circle-mask {
		img {
			// If a browser supports it, we will switch to using a circular SVG mask.
			// The stylelint override is necessary to use the SVG inline here.
			@supports (mask-image: none) or (-webkit-mask-image: none) {
				/* stylelint-disable */
				mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
				/* stylelint-enable */
				mask-mode: alpha;
				mask-repeat: no-repeat;
				mask-size: contain;
				mask-position: center;
				border-radius: none;
			}
		}
	}
}
