.wp-block-latest-posts {
	@include list-unstyled();

	&.alignleft {
		/*rtl:ignore*/
		margin-right: 2em;
	}

	&.alignright {
		/*rtl:ignore*/
		margin-left: 2em;
	}

	&.is-grid {
		@include make-row();

        &.columns { 
            &-3,
            &-4,
            &-5 {
                li {
                    @include media-breakpoint-up( md ) {
                        @include make-col( 6 );
                    }
                }
            }

            &-2 {
                li {
                    @include media-breakpoint-up( lg ) {
                        @include make-col( 6 );
                    }
                }
            }

            &-3 {
                li {
                    @include media-breakpoint-up( lg ) {
                        @include make-col( 4 );
                    }
                }
            } 

            &-4 {
                li {
                    @include media-breakpoint-up( lg ) {
                        @include make-col( 3 );
                    }
                }
            } 

            &-5 {
                li {
                    @include media-breakpoint-up( lg ) {
                        @include make-col( 2 );
                    }
                }
            } 
		}
		
		li {
            @include make-col-ready();
            @include make-col( 12 );
        }
	}

	li {
        margin: 0 0 20px;
        @include clearfix;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
	}

	&__post {
		&-date {
			display: block;
			color: var(--wca-dark);
		}

		&-excerpt {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}
}
