.wp-block-media-text {
	display: flex;
	flex-flow: column;
	--wca-gutter-x: 30px;

	@include media-breakpoint-up( 'md' ) {
		flex-flow: row nowrap;
		
		&.is-vertically-aligned-top {
			.wp-block-media-text__content {
				align-self: flex-start;
			}
		}
		
		&.is-vertically-aligned-center {
			.wp-block-media-text__content {
				align-self: center;
			}
		}

		&.is-vertically-aligned-bottom {
			.wp-block-media-text__content {
				align-self: flex-end;
			}
		}
	}

	&__content,
	&__media {
		flex: 0 0 0%;
	}
	
	&__content {
		flex-grow: 1;
		padding: calc(var(--wca-gutter-x) / 2);

		@include media-breakpoint-up( 'md' ) {
			align-self: center;
		}
	}

	&__media {
		overflow: hidden;
		flex-basis: 50%;
		
		@include media-breakpoint-up( 'md' ) {
			margin-bottom: 0;
		}
		
		img,
		video {
			display: block;
			width: 100%;
			object-fit: cover;
		}
		
		.is-image-fill & {
			position: relative;
			padding: 0;
			min-height: 250px;
			background-size: cover;
	
			img {
				// The image is visually hidden but accessible to assistive technologies.
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
			}
		}
	}
}
