.wp-block-media-text {
	@include media-breakpoint-up( 'md' ) {
		&.is-vertically-aligned-top {
			.wp-block-media-text__content {
				align-self: flex-start;
			}
		}
		
		&.is-vertically-aligned-center {
			.wp-block-media-text__content {
				align-self: center;
			}
		}

		&.is-vertically-aligned-bottom {
			.wp-block-media-text__content {
				align-self: flex-end;
			}
		}
	}

	&__content,
	&__media {
		flex: 0 0 auto;
		flex-basis: auto;
	}
	
	&__content {
		width: auto;
		flex-grow: 1;

		@include media-breakpoint-up( 'md' ) {
			align-self: center;
		}
	}

	&__media {
		overflow: hidden;
		flex-basis: 50%;
		
		@include media-breakpoint-up( 'md' ) {
			margin-bottom: 0;
		}
		
		&.ratio {
			@include media-breakpoint-up( 'xs' ) {
				margin-left: calc(var(--wca-gutter-x) / 2);
				margin-right: calc(var(--wca-gutter-x) / 2);
			}
		}
		
		&--media-fill {
			position: relative;
			padding: 0;
			width: auto;
			min-height: 250px;
			background-size: cover;

			@include media-breakpoint-up( 'sm' ) {
				margin-left: calc(var(--wca-gutter-x) / 2);
				margin-right: calc(var(--wca-gutter-x) / 2);
			}
	
			img {
				// The image is visually hidden but accessible to assistive technologies.
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
			}
		}

		img,
		video {
			display: block;
			width: 100%;
			object-fit: cover;
		}
	}
}
