.wp-block-navigation {
	height: 100%;

	.offcanvas & {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	&[class*="navbar-expand-"] .offcanvas {
		width: initial;
	}

	&.hide-dropdown-icon {
		.dropdown-toggle {
			&::after {
				content: none;
			}
		}
	}

	&-link {
		&__content {
			&:not([data-bs-toggle="dropdown"]) {
				&:hover,
				&:focus,
				&:focus-within {
					& ~ .dropdown-menu {
						display: block;
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		&__content.nav-link,
		&__content.dropdown-item {
			display: flex;
			align-items: center;
		}

		&__label {
			flex: 1 1 auto;
			word-break: normal;
			overflow-wrap: break-word;
		}
	}

	.dropdown-menu {
		.dropdown-menu {
			top: 0;
			left: 100%;
		}

		.dropdown-toggle {
			&::after {
				@include media-breakpoint-up( 'lg' ) {
					transform: rotate(270deg);
				}
			}
		}
	}
}