.wp-block-social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 $spacer;

	.navbar & {
		@include media-breakpoint-up( 'lg' ) {
			margin-bottom: 0;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		@include media-breakpoint-down( 'lg' ) {
			margin-top: $spacer;
		}
	}

	&.items-justified-center {
		justify-content: center;
	}

	&.items-justified-right {
		justify-content: flex-end;
	}

	&.items-justified-space-between {
		justify-content: space-between;
	}
	
	&.is-style-pill-shape {
		.wp-social-link {
			a {
				width: auto;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	&.is-style-square-shape {
		.wp-social-link {
			a {
				border-radius: 0;
			}
		}
	}

	&.is-style-logos-only {
		.wp-social-link {
			a {
				background: none;
				padding: 0;
			}
		}
	}

	.wp-social-link {
		&:not(:last-child) {
			margin-right: 10px;
		}

		a,
		a:hover {
			text-decoration: none;
			border-bottom: 0;
			box-shadow: none;
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

.wp-social-link {
	display: block;
	
	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 36px;
		transition: all 0.3s ease;
		padding: 6px;
		line-height: 0;
	}

	a,
	a:hover,
	a:active,
	a:visited,
	svg {
		color: currentColor;
		fill: currentColor;
	}
}

// Provide colors for a range of icons.
.wp-block-social-links:not(.is-style-logos-only) {
	// Generic items such as mail, feed, etc.
	.wp-social-link a {
		background-color: #f0f0f0;
		color: #444;
	}

	.wp-social-link-amazon a {
		background-color: #f90;
		color: #fff;
	}

	.wp-social-link-bandcamp a {
		background-color: #1ea0c3;
		color: #fff;
	}

	.wp-social-link-behance a {
		background-color: #0757fe;
		color: #fff;
	}

	.wp-social-link-codepen a {
		background-color: #1e1f26;
		color: #fff;
	}

	.wp-social-link-deviantart a {
		background-color: #02e49b;
		color: #fff;
	}

	.wp-social-link-dribbble a {
		background-color: #e94c89;
		color: #fff;
	}

	.wp-social-link-dropbox a {
		background-color: #4280ff;
		color: #fff;
	}

	.wp-social-link-etsy a {
		background-color: #f45800;
		color: #fff;
	}

	.wp-social-link-facebook a {
		background-color: #1977f2;
		color: #fff;
	}

	.wp-social-link-fivehundredpx a {
		background-color: #000;
		color: #fff;
	}

	.wp-social-link-flickr a {
		background-color: #0461dd;
		color: #fff;
	}

	.wp-social-link-foursquare a {
		background-color: #e65678;
		color: #fff;
	}

	.wp-social-link-github a {
		background-color: #24292d;
		color: #fff;
	}

	.wp-social-link-goodreads a {
		background-color: #eceadd;
		color: #382110;
	}

	.wp-social-link-google a {
		background-color: #ea4434;
		color: #fff;
	}

	.wp-social-link-instagram a {
		background-color: #f00075;
		color: #fff;
	}

	.wp-social-link-lastfm a {
		background-color: #e21b24;
		color: #fff;
	}

	.wp-social-link-linkedin a {
		background-color: #0577b5;
		color: #fff;
	}

	.wp-social-link-mastodon a {
		background-color: #3288d4;
		color: #fff;
	}

	.wp-social-link-medium a {
		background-color: #02ab6c;
		color: #fff;
	}

	.wp-social-link-meetup a {
		background-color: #f6405f;
		color: #fff;
	}

	.wp-social-link-pinterest a {
		background-color: #e60122;
		color: #fff;
	}

	.wp-social-link-pocket a {
		background-color: #ef4155;
		color: #fff;
	}

	.wp-social-link-reddit a {
		background-color: #fe4500;
		color: #fff;
	}

	.wp-social-link-skype a {
		background-color: #0478d7;
		color: #fff;
	}

	.wp-social-link-snapchat a {
		background-color: #fefc00;
		color: #fff;
		stroke: #000;
	}

	.wp-social-link-soundcloud a {
		background-color: #ff5600;
		color: #fff;
	}

	.wp-social-link-spotify a {
		background-color: #1bd760;
		color: #fff;
	}

	.wp-social-link-tumblr a {
		background-color: #011835;
		color: #fff;
	}

	.wp-social-link-twitch a {
		background-color: #6440a4;
		color: #fff;
	}

	.wp-social-link-twitter a {
		background-color: #21a1f3;
		color: #fff;
	}

	.wp-social-link-vimeo a {
		background-color: #1eb7ea;
		color: #fff;
	}

	.wp-social-link-vk a {
		background-color: #4680c2;
		color: #fff;
	}

	.wp-social-link-wordpress a {
		background-color: #3499cd;
		color: #fff;
	}

	.wp-social-link-yelp a {
		background-color: #d32422;
		color: #fff;
	}

	.wp-social-link-youtube a {
		background-color: #ff0100;
		color: #fff;
	}
}

// Treatment for logos only style.
.wp-block-social-links.is-style-logos-only {
	.wp-social-link-amazon {
		color: #f90;
	}

	.wp-social-link-bandcamp {
		color: #1ea0c3;
	}

	.wp-social-link-behance {
		color: #0757fe;
	}

	.wp-social-link-codepen {
		color: #1e1f26;
	}

	.wp-social-link-deviantart {
		color: #02e49b;
	}

	.wp-social-link-dribbble {
		color: #e94c89;
	}

	.wp-social-link-dropbox {
		color: #4280ff;
	}

	.wp-social-link-etsy {
		color: #f45800;
	}

	.wp-social-link-facebook {
		color: #1977f2;
	}

	.wp-social-link-fivehundredpx {
		color: #000;
	}

	.wp-social-link-flickr {
		color: #0461dd;
	}

	.wp-social-link-foursquare {
		color: #e65678;
	}

	.wp-social-link-github {
		color: #24292d;
	}

	.wp-social-link-goodreads {
		color: #382110;
	}

	.wp-social-link-google {
		color: #ea4434;
	}

	.wp-social-link-instagram {
		color: #f00075;
	}

	.wp-social-link-lastfm {
		color: #e21b24;
	}

	.wp-social-link-linkedin {
		color: #0577b5;
	}

	.wp-social-link-mastodon {
		color: #3288d4;
	}

	.wp-social-link-medium {
		color: #02ab6c;
	}

	.wp-social-link-meetup {
		color: #f6405f;
	}

	.wp-social-link-pinterest {
		color: #e60122;
	}

	.wp-social-link-pocket {
		color: #ef4155;
	}

	.wp-social-link-reddit {
		color: #fe4500;
	}

	.wp-social-link-skype {
		color: #0478d7;
	}

	.wp-social-link-snapchat {
		color: #fff;
		stroke: #000;
	}

	.wp-social-link-soundcloud {
		color: #ff5600;
	}

	.wp-social-link-spotify {
		color: #1bd760;
	}

	.wp-social-link-tumblr {
		color: #011835;
	}

	.wp-social-link-twitch {
		color: #6440a4;
	}

	.wp-social-link-twitter {
		color: #21a1f3;
	}

	.wp-social-link-vimeo {
		color: #1eb7ea;
	}

	.wp-social-link-vk {
		color: #4680c2;
	}

	.wp-social-link-wordpress {
		color: #3499cd;
	}

	.wp-social-link-yelp {
		background-color: #d32422;
		color: #fff;
	}

	.wp-social-link-youtube {
		color: #ff0100;
	}
}
