.wp-block-button {
	color: $white;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}

	&__link {
		display: inline-block;
		vertical-align: middle;
		user-select: none;
		outline: none;
		font-weight: $btn-font-weight;
		@include button-variant( $dark, $gray-200 );
		@include button-size(
			$btn-padding-y,
			$btn-padding-x-lg,
			$btn-font-size,
			$btn-line-height,
			$btn-border-radius
		);
	
		.is-style-outline & {
			background-color: transparent;
			border: 2px solid currentColor;

			&:not(.has-text-color) {
				color: $dark;
			}

			@each $color, $value in $theme-colors {
				&.has-#{$color}-color {
					&:hover,
					&:visited {
						color: #{$value};
					}
				}
			}
		}
	
		.is-style-squared & {
			@include border-radius( 0 );
		}
	}
}