$subtle-light-gray: #fafafa;
$subtle-pale-green: #e9fbe5;
$subtle-pale-blue: #e7f5fe;
$subtle-pale-pink: #fcf0ef;

.wp-block-table {
	overflow-x: auto;

	table {
		width: 100%;
	}

	// Fixed layout toggle
	.has-fixed-layout {
		table-layout: fixed;
		width: 100%;

		td,
		th {
			word-break: break-word;
		}
	}

	&.alignleft,
	&.aligncenter,
	&.alignright {
		display: table;
		width: auto;

		td,
		th {
			word-break: break-word;
		}
	}

	.has-subtle-light-gray-background-color {
		background-color: $subtle-light-gray;
	}

	.has-subtle-pale-green-background-color {
		background-color: $subtle-pale-green;
	}

	.has-subtle-pale-blue-background-color {
		background-color: $subtle-pale-blue;
	}

	.has-subtle-pale-pink-background-color {
		background-color: $subtle-pale-pink;
	}

	// "Stripes" style variation.
	&.is-style-stripes {
		border-spacing: 0;
		border-collapse: inherit;
		border-bottom: 1px solid $gray-200;
		background-color: transparent;

		tbody tr:nth-child(odd) {
			background-color: $gray-200;
		}

		&.has-subtle-light-gray-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-light-gray;
			}
		}

		&.has-subtle-pale-green-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-green;
			}
		}

		&.has-subtle-pale-blue-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-blue;
			}
		}

		&.has-subtle-pale-pink-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-pink;
			}
		}

		th,
		td {
			padding: 10px;
			border-color: transparent;
		}
	}
}
