.wca-customizer-control--color {
	margin: 0;

	.delete {
		margin-left: auto;
		color: #dcdcdc;
		transition: .3s ease;

		&:hover {
			color: var(--wp-admin-theme-color);
		}

		& + div {
			margin-left: 0;
		}
	}

	.clear {
		width: 100%;
		justify-content: center;
		border-radius: 0;
	}
}