.wca-customizer-control--typeface {
	.wca-customizer-control {
		&__header {
			.components-dropdown {
				display: block;
				
				.components-popover__content {
					min-width: 230px;
					overflow: hidden;

					> div {
						padding: 0;
					}
				}
			}

			button {
				width: 100%;
				border: 1px solid lightgray;
				box-shadow: none;
				background-color: transparent;
		
				.ff-name {
					width: 65%;
					overflow: hidden;
					text-overflow: ellipsis;
					line-height: 1;
					text-align: left;
				}
		
				.ff-preview {
					line-height: 1;
					margin-left: auto;
					font-size: 21px;
				}
			}
		
			.select-inline {
				margin-bottom: 10px;
				display: flex;
				align-items: center;
		
				> .customize-control-title {
					margin: 0;
					max-width: 35%;
				}
		
				> * {
					flex-grow: 1;
				}
		
				select {
					border-radius: 0;
					border-color: lightgray;
				}
		
				.components-base-control__field {
					margin: 0;
				}
			}
		}
		
		&__font-weights {
			.components-select-control {
				&__input {
					height: auto!important;
					min-height: 150px!important;
				}
			}
	
			.components-input-control {
				&__suffix {
					display: none!important;
				}
			}
		}
	}

	.wecodeart-fonts {
		position: relative;

		&__search {
			position: absolute;
			top: -40px;
			left: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2);
			border-bottom: 1px solid #ccc;
			padding: 5px;
			box-sizing: border-box;
	
			.components-base-control {
				width: 85%;
	
				&__field {
					margin-bottom: 0;
		
					input {
						height: 25px;
						width: 100%;
					}
				}
			}
	
			.close-font-selector {
				padding: 0 5px;
				margin-left: auto;
			}
		}

		&__list {
			margin-top: 40px;
			overflow-y: auto;
			max-height: 300px;
	
			.load-more {
				padding: 10px 0;
	
				svg {
					fill: #0073aa;
				}
			}
	
			li {
				margin: 0;
	
				&.selected a {
					background-color: #0b69da;
					color: #fff;
				}
	
				&.no-result {
					opacity: .75;
					font-weight: 600;
					padding: 10px 0;
				}
	
				&.font-group-header {
					text-align: left;
					padding: 5px 10px;
					font-size: 15px;
					font-weight: 600;
					background-color: #efefef;
				}
	
				a {
					display: flex;
					align-items: center;
					padding: 5px 10px;
					transition: .2s ease;
					color: #333;
					border-bottom: 1px solid #efefef;
					cursor: pointer;
	
					&:hover {
						color: #fff;
						background-color: #0073aa;
					}
	
					.wca-font-family {
						font-size: 14px;
						font-weight: 400;
						text-align: left;
						max-width: 75%;
						overflow: hidden;
						text-overflow: ellipsis;
					}
	
					.wca-font-preview {
						line-height: initial;
						font-display: swap;
						margin-left: auto;
						font-size: 20px;
					}
				}
			}
		}
	}
}