// Palette Options
.wecodeart-palette-options {
	display: flex;
	flex-wrap: wrap;

	&__item {
		position: relative;
		height: 67px;
		margin-bottom: 15px;
		width: calc(50% - 5px);

		&:hover {
			.wecodeart-palette-options__item-delete {
				display: flex;
			}
		}

		&:nth-child(odd) {
			margin-right: 10px;
		}

		&-delete {
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 !important;
			background-color: red !important;
			color: #ffffff !important;
			display: none;
			text-decoration: none;

			&:hover {
				text-decoration: none;
				color: red;
				background-color: #ffffff;
			}
		}

		&-modal {
			.actions {
				display: flex;
				justify-content: flex-end;
				margin-top: 20px;
			}
		
			button {
				margin-left: 10px;
			}
		}
	}

	&__button {
		background-color: #fff;
		height: 100%;
		width: 100%;
		padding: 0;
		border: none;
		border-radius: 0;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&.active {
			outline: 2px solid #08c;
		}

		&:nth-child(even) {
			margin-left: auto;
		}

		&-title {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.75);
			color: #fff;
			text-align: left;
			font-weight: 600;
			padding: 5px 10px;
			font-size: 14px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&-color {
			display: inline-block;
			width: 25%;
			height: 100%;
		}
	}
}

// Palette Add New
.wecodeart-palette-add {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;

	.customize-control-title {
		margin-top: 10px;
	}

	.actions {
		display: flex;
		margin-top: 10px;

		button {
			margin-right: 10px;
			display: flex;
			align-items: center;
		}
	}
}

// Palette Colors
.wecodeart-palette-colors {
	background: #fff;
	margin-top: 15px;
  	margin: 0 -15px;
	padding: 20px 15px 12px;

	.wca-color-component {
		margin-bottom: 10px;
	}

	.add-custom-color {
		text-decoration: none;
		font-weight: 700;
		font-size: 14px;
		padding: 8px 0;

		.dashicon {
			margin-left: 10px;
		}
	}
	
	hr {
		margin: 10px -15px;
		border-bottom: 0;
	}

	&__reset {
		color: #555D66;
		text-decoration: none;
		padding: 7px 0;

		.dashicon {
			color: #DCDCDC;
		}
	}
}