.customize-control-wecodeart-slider {
	input[type=range] {
		-webkit-appearance: none; 
		transition: background-color 0.3s;
		background-color: rgba(0, 0, 0, 0.2);
		height: 5px;
		padding: 0; 
		flex:1;

		&:focus {
			box-shadow: none;
			outline: none;
		}
		&:hover,
		&:focus {
			background-color: rgba(0, 0, 0, 0.25);
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 15px;
			height: 15px;
			border-radius: 50%; 
			background-color: #3498D9;
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 15px;
			height: 15px;
			border: none;
			border-radius: 50%;
			background-color: #3498D9;
		}
		&::-moz-range-thumb {
			width: 15px;
			height: 15px;
			border: none;
			border-radius: 50%;
			background-color: #3498D9;
		}
		&::-ms-thumb {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 0;
			background-color: #3498D9;
		}
		&::-moz-range-track {
			border: inherit;
			background: transparent;
		}
		&::-ms-track {
			border: inherit;
			color: transparent;
			background: transparent;
		}
		&::-ms-fill-lower,
		&::-ms-fill-upper {
			background: transparent;
		}
		&::-ms-tooltip {
			display: none;
		}
	}

	.wecodeart-slider {
		&__wrapper {
			position: relative; 
			display: flex; 
			align-items: center;
		}

		&__number {
			&-input {
				font-size: 12px;
				font-weight: 400;
				position: relative;
				width: 50px;
				height: 22px;
				padding: 3px;
			}
		}

		&__reset {
			position: absolute;
			top: -28px;
			right: 0; 
			display: inline-block; 
			color: rgba(0, 0, 0, 0.2);
			transition: color 0.5s ease-in;

			span {
				font-size: 16px;
				line-height: 22px;
			}
	
			&:hover,
			&:focus {
				color: red;
			}
		}

		&__unit {
			margin-left: 5px;
		}
	} 
} 
