.customize-control-wecodeart-sortable ul.ui-sortable {
    cursor: default;

    li {
        padding: 5px 10px;
        border: 1px solid #333;
        background: #fff;
        cursor: move;

        /* &[data-value="content"] {
            pointer-events: none;
        } */
        
        &.invisible {
            color: #aaa;
            border: 1px dashed #aaa;

            .dashicons.visibility {
                color: #aaa;
            }
        }

        .dashicons.dashicons-menu {
            float: right;
        }

        .dashicons.visibility {
            margin-right: 10px;
        }
    }

    .dashicons-visibility {
        cursor: pointer;
    }
}