/* 	= Base
--------------------------------------------------------------- */ 
/* 1.0 = WordPress Core */
.alignnone {
    margin: 5px 0px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a {
    img {
        &.alignright {
            float: right;
            margin: 5px 0 20px 20px;
        }

        &.alignnone {
            margin: 5px 20px 20px 0;
        }

        &.alignleft {
            float: left;
            margin: 5px 20px 20px 0;
        }

        &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    padding: 5px 3px 10px;
    text-align: center;

    &.alignnone {
        margin: 5px 0px 20px 0;
    }

    &.alignright {
        margin: 5px 0 20px 20px;
    }

    &.alignleft {
        margin: 5px 20px 20px 0;
    }

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }
}

.gallery-caption {
    display: block;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: var(--wca-primary);
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}

/* Default Widgets */
.widget_archive,
.widget_meta,
.widget_pages,
.widget_categories,
.widget_nav_menu,
.widget_recent_comments,
.widget_recent_entries {
    ul {
        list-style-type: none;
        padding-left: 0;

        a {
            padding: 0;
        }
    }
}

.widget_calendar {
    table {
        width: 100%;
    }
}

/* WeCodeArt */
.archive-intro,
.content-area,
.breadcrumbs,
.entry-navigation,
.footer,
.footer__attribution,
.wp-block-wca-section:first-child {
    border-top: 1px solid rgba(0,0,0,.1);
}

.has-sidebar {
    .content__sidebar + .content__main,
    .content__main + .content__sidebar {
        @include media-breakpoint-up( 'md' ) {
            border-left: 1px solid rgba(0,0,0,.1);
        }
    }
}

.archive-intro {
    &__svg {
        svg {
            width: 50px;
            height: 50px;

            .theme-is-dark & {
                fill: white;
            }
        }
    } 
}

.author-box {
    .author & {
        margin-bottom: 0!important;
        border-bottom: none;
    }

    &__headline {
        svg {
            width: 20px;
            height: 20px;
            vertical-align: -8%;

            @include media-breakpoint-up( 'sm' ) {
                width: 30px;
                height: 30px;
            } 
        }
    }

    &__social {
        margin: 0 -0.5rem;

        svg {
            display: block;
            fill: currentColor;
        }
    }
}

hr {
    background: linear-gradient(to right, transparent, rgba(0,0,0,.10), transparent);
    border: 0;
    height: 1px;
    margin: 25px 0;
}

svg,
.svg-inline {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;

    .fa-secondary {
        opacity: .4;
    }
}

.border {
    &-soft {
        border-color: rgba(0, 0, 0, 0.1) !important;
    }
}

.shadow {
    &-soft {
        box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1) !important;        
    }
}

/* Dark Theme */
:root {
    .theme-is-dark {
        .form-control,
        .input-group-text,
        .btn-outline-dark {
            color: white;
            border-color: rgba(0, 0, 0, 0.3);
        }

        .input-group-text,
        .form-control {
            background-color: rgba(0, 0, 0, 0.15);
        }

        .form-floating {
            .form-control {
                &::placeholder {
                    color: transparent;
                }
                
                &:-moz-placeholder {
                    color: transparent;
                }
        
                &::-webkit-input-placeholder {
                    color: transparent;
                }
            }
        }
    }
}