.entry {  
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    /* Title */
    &-title {
        .theme-is-dark & {
            color: white;
        }

        a {
            color: inherit;
        }
    }

    /* Content */
    &-content,
    &-excerpt {
        .theme-is-dark & {
            color: var( --wca-gray );
        }
    }
    
    /* Meta */
    &-meta {
        svg {
            width: 15px;
            height: 15px;
            vertical-align: -8%;
            fill: var( --wca-gray );
        }
    }
    
    /* Media Image */
    &-media {
        float: left;
        width: 100%;
        
        @include media-breakpoint-up( 'sm' ) {
            max-width: 200px;
        }
    
        .ls-blur-up-img,
        &__src,
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            /* only if you want to change the blur-up option from always to auto or want to use blur up effect without a lowsrc image. */
            font-family: "blur-up: auto", "object-fit: cover";
            object-fit: cover;
    
            &.match {
                width: 100%; 
                height: 100%;
            }
    
            &.taller {
                width: 100%; 
                height: auto;
            }
    
            &.wider {
                width: auto;
                height: 100%;
            }

            &.ls-blur-up-is-loading,
            &.lazyload:not([src]) {
                visibility: hidden;
            }
        }

        .ls-blur-up-img {
            filter: blur(10px);
            opacity: 1;
            transition: opacity 1000ms, filter 1500ms;
        }
    
        .ls-blur-up-img.ls-inview.ls-original-loaded {
            opacity: 0;
            filter: blur(5px);
        }
    }

    &-footer {
        .hfeed & {
            text-align: right;
        }
    }
}

.comments {
    &__respond-headline {
        a {
            float: right;
        }
    }

    h3 {
        svg {
            width: 20px;
            height: 20px;
            
            @include media-breakpoint-up( 'sm' ) {
                width: 30px;
                height: 30px;
            }
        }
    }

    svg {
        fill: currentColor;
        vertical-align: -8%;
    }
}

.comment {
    .bypostauthor {
        color: initial;
    }

    .comment-reply {
        margin-top: -1rem;
    }
}