.header {
    .site-title,
    .site-description {
        .wp-custom-logo & {
            display: none;
        }
    }

    .site-title {
        font-size: .9rem;
    }
    
    .site-description {
        @include media-breakpoint-down('md') {
            font-size: 12px;
        }
    }
}

.header-bar {
    &__menu,
    &__search {
        .no-js & {
            @include media-breakpoint-down( 'lg' ) {
                display: none;
            }
        }
    }

    &__menu,
    &__search {
        @include media-breakpoint-down( 'lg' ) {
            margin-top: 10px;
            order: 100;
            padding-top: 10px;
            border-top: 1px solid var(--wca-light);
        }

        &:not(.show):not(.collapsing) {
            display: none;

            @include media-breakpoint-up( 'lg' ) {
                display: block;
            }
        }
    }

    &__branding {
        svg {
            display: block;
            width: 20px;
            height: 20px;
        }
    }
}   