/* Default Widgets */
.widget {
    margin: 0 0 2.5rem;

    &__title {
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}

.widget_archive,
.widget_meta,
.widget_pages,
.widget_categories,
.widget_nav_menu,
.widget_recent_comments,
.widget_recent_entries {
    ul {
        list-style-type: none;
        padding-left: 0;

        a {
            padding: 0;
        }
    }
}

.widget_calendar {
    table {
        width: 100%;
    }
}