.neve-palettes-wrap {
  display: flex;
  flex-wrap: wrap;
}

.neve-global-color-palette {
  position: relative;
  height: 67px;
  margin-bottom: 15px;
  width: calc(50% - 5px);
}
.neve-global-color-palette:hover .delete-palette {
  display: flex;
}
.neve-global-color-palette:nth-child(odd) {
  margin-right: 10px;
}
.neve-global-color-palette .delete-palette {
  right: 0;
  top: 0;
  position: absolute;
  padding: 0 !important;
  background-color: red !important;
  color: #ffffff !important;
  display: none;
  text-decoration: none;
}
.neve-global-color-palette .delete-palette:hover {
  text-decoration: none;
  color: red;
  background-color: #ffffff;
}

.neve-global-color-palette-inner {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.neve-global-color-palette-inner:focus {
  outline: none;
}
.neve-global-color-palette-inner.active {
  outline: 2px solid #08c;
}
.neve-global-color-palette-inner:nth-child(even) {
  margin-left: auto;
}
.neve-global-color-palette-inner .title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: left;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.neve-global-color-palette-inner .color {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.neve-global-colors-confirm-delete-modal .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.neve-global-colors-confirm-delete-modal button {
  margin-left: 10px;
}

.add-palette-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.add-palette-form .customize-control-title {
  margin-top: 10px;
}
.add-palette-form .actions {
  display: flex;
  margin-top: 10px;
}
.add-palette-form .actions button {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.nv-accordion {
  width: calc(100% + 24px);
  color: #555d66;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 4px solid #fff;
  transition: 0.15s color ease-in-out, 0.15s background-color ease-in-out, 0.15s border-color ease-in-out;
  font-size: 14px;
  border-right: none;
  padding: 10px 10px 11px 14px;
  line-height: 1.55;
  position: relative;
  margin: 0 -12px;
  cursor: pointer;
}
.nv-accordion:hover {
  color: #0073aa;
  background: #f3f3f5;
  border-left-color: #0073aa;
}
.nv-accordion:focus, .nv-accordion:active {
  outline: none;
}
.nv-accordion h4 {
  display: flex;
  margin: 0;
  align-items: center;
}
.nv-accordion .dashicon, .nv-accordion svg {
  fill: #a0a5aa;
  margin: 0 0 0 auto;
}

.color-array-wrap {
  background: #fff;
  margin-top: 15px;
  margin: 0 -15px;
  padding: 20px 15px 12px;
}
.color-array-wrap .neve-color-component {
  margin-bottom: 14px;
}
.color-array-wrap hr {
  margin: 10px -15px;
  border-bottom: 0;
}
.color-array-wrap .add-custom-color {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 0;
}
.color-array-wrap .add-custom-color .dashicon {
  margin-left: 10px;
}
.color-array-wrap .reset-palette {
  color: #555D66;
  text-decoration: none;
  padding: 7px 0;
}
.color-array-wrap .reset-palette .dashicon {
  color: #DCDCDC;
}

#customize-control-background_image {
  background-color: #fff;
  padding: 15px;
  margin: 0 -15px;
  width: calc(100% + 30px);
  box-sizing: border-box;
}

/*# sourceMappingURL=customizer-pallete.css.map*/