.components-modal__screen-overlay {
  z-index: 1000000;
}

.global-color-popover {
  border-radius: 100px !important;
}

.global-color-picker .dashicon {
  width: auto !important;
  font-size: 16px !important;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-right: 0 !important;
}
.global-color-picker svg {
  margin-right: 0 !important;
}
.global-color-picker.active {
  color: var(--wp-admin-theme-color);
}

.wca-customizer-control {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
}

.wca-accordion-component {
  position: relative;
  width: calc(100% + 24px);
  color: #555d66;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-left: 4px solid #fff;
  border-right: none;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  line-height: 1.55;
  padding: 10px 10px 11px 14px;
  margin: 0 -12px;
  transition: 0.15s color ease-in-out, 0.15s background-color ease-in-out, 0.15s border-color ease-in-out;
  cursor: pointer;
}
.wca-accordion-component:hover {
  color: var(--wp-admin-theme-color);
  background: #f3f3f5;
  border-left-color: var(--wp-admin-theme-color);
}
.wca-accordion-component:focus, .wca-accordion-component:active {
  outline: none;
}
.wca-accordion-component__title {
  display: flex;
  margin: 0;
  align-items: center;
}
.wca-accordion-component .dashicon,
.wca-accordion-component svg {
  fill: #a0a5aa;
  margin: 0 0 0 auto;
}

.wca-color-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wca-color-component .customize-control-title {
  margin-bottom: 0;
}
.wca-color-component .components-popover__content {
  overflow: hidden;
}
.wca-color-component .components-dropdown:first-of-type {
  margin-left: auto;
}
.wca-color-component .components-dropdown > .components-button {
  position: relative;
  padding: 0 !important;
  min-width: 35px;
}
.wca-color-component .components-dropdown > .components-button .color,
.wca-color-component .components-dropdown > .components-button .gradient {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.wca-color-component .components-dropdown > .components-button .color {
  z-index: 1;
}
.wca-color-component .components-dropdown > .components-button .gradient {
  background-image: linear-gradient(45deg, #fff 0%, #ccc 0%, #ccc 10%, #fff 10%, #fff 20%, #ccc 20%, #ccc 30%, #fff 30%, #fff 40%, #ccc 40%, #ccc 50%, #fff 50%, #fff 60%, #ccc 60%, #ccc 70%, #fff 70%, #fff 80%, #ccc 80%, #ccc 90%, #fff 90%, #fff 100%, #ccc 100%) !important;
}
.wca-color-component .components-circular-option-picker__option {
  border: 1px solid lightgray;
  outline: none;
}
.wca-color-component .components-circular-option-picker__option:focus::after, .wca-color-component .components-circular-option-picker__option:after {
  width: initial !important;
  height: initial !important;
}
.wca-color-component--allows-global > .components-dropdown:last-child {
  margin-left: 0;
}
.wca-color-component--allows-global > .components-dropdown > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: none;
  min-width: 35px;
}
.wca-color-component--allows-global > .components-dropdown > button > .dashicons {
  width: auto;
}
.wca-color-component--allows-global .global-color-picker {
  color: #b7c0cc;
  border-right-color: transparent;
  margin-right: -1px;
}
.wca-color-component--allows-global .global-color-picker:hover {
  color: #b7c0cc;
}
.wca-color-component--allows-global .global-color-picker.active {
  color: var(--wp-admin-theme-color);
}
.wca-color-component__label {
  text-transform: uppercase;
}

.customize-control-wecodeart-divider__wrapper {
  margin: 0 -12px;
  padding: 14px 12px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #2388ed;
  background-color: #fff;
}
.customize-control-wecodeart-divider .customize-control-title {
  display: block;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 1;
  text-transform: uppercase;
}
.customize-control-wecodeart-divider .customize-control-caption {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
}
.customize-control-wecodeart-divider .customize-control-description {
  margin-top: 10px;
}

/*# sourceMappingURL=customizer.css.map*/