.wecodeart-typeface-control {
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff; }
  .wecodeart-typeface-control__font-family .popover-header {
    position: absolute;
    top: -40px; }
    .wecodeart-typeface-control__font-family .popover-header .search {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid #ccc;
      padding: 5px;
      width: 300px;
      top: 0;
      box-sizing: border-box; }
      .wecodeart-typeface-control__font-family .popover-header .search .components-base-control {
        width: 85%; }
        .wecodeart-typeface-control__font-family .popover-header .search .components-base-control__field {
          margin-bottom: 0; }
          .wecodeart-typeface-control__font-family .popover-header .search .components-base-control__field input {
            height: 25px;
            width: 100%; }
      .wecodeart-typeface-control__font-family .popover-header .search .close-font-selector {
        padding: 0 5px;
        margin-left: auto; }
  .wecodeart-typeface-control__font-family .popover-content {
    position: relative;
    display: block;
    width: 300px !important; }
  .wecodeart-typeface-control__font-family .components-popover__content {
    overflow: hidden !important; }
  .wecodeart-typeface-control__font-family .wecodeart-fonts-list {
    max-height: 400px;
    margin-top: 40px;
    overflow: auto; }
    .wecodeart-typeface-control__font-family .wecodeart-fonts-list .load-more {
      padding: 10px 0; }
      .wecodeart-typeface-control__font-family .wecodeart-fonts-list .load-more svg {
        fill: #0073aa; }
    .wecodeart-typeface-control__font-family .wecodeart-fonts-list li {
      margin: 0; }
      .wecodeart-typeface-control__font-family .wecodeart-fonts-list li.selected a {
        background-color: #0b69da;
        color: #fff; }
      .wecodeart-typeface-control__font-family .wecodeart-fonts-list li.no-result {
        opacity: .75;
        font-weight: 600;
        padding: 10px 0; }
      .wecodeart-typeface-control__font-family .wecodeart-fonts-list li.font-group-header {
        text-align: left;
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 600;
        background-color: #efefef; }
      .wecodeart-typeface-control__font-family .wecodeart-fonts-list li a {
        align-items: center;
        display: flex;
        padding: 5px 10px;
        transition: .2s ease;
        color: #333;
        border-bottom: 1px solid #efefef; }
        .wecodeart-typeface-control__font-family .wecodeart-fonts-list li a:hover {
          color: #fff;
          background-color: #0073aa; }
        .wecodeart-typeface-control__font-family .wecodeart-fonts-list li a .wca-font-family {
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          max-width: 75%;
          overflow: hidden;
          text-overflow: ellipsis; }
        .wecodeart-typeface-control__font-family .wecodeart-fonts-list li a .wca-font-preview {
          line-height: initial;
          font-display: swap;
          margin-left: auto;
          font-size: 20px; }
  .wecodeart-typeface-control__font-family .select-inline {
    margin-bottom: 10px;
    display: flex;
    align-items: center; }
    .wecodeart-typeface-control__font-family .select-inline > .customize-control-title {
      margin: 0;
      max-width: 35%; }
    .wecodeart-typeface-control__font-family .select-inline > * {
      flex-grow: 1; }
    .wecodeart-typeface-control__font-family .select-inline select {
      border-radius: 0;
      border-color: lightgray; }
    .wecodeart-typeface-control__font-family .select-inline .components-base-control__field {
      margin: 0; }
  .wecodeart-typeface-control__font-weights .components-select-control__input {
    height: auto !important;
    min-height: 150px !important; }
  .wecodeart-typeface-control__font-weights .components-input-control__suffix {
    display: none !important; }
  .wecodeart-typeface-control button {
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid lightgray;
    box-shadow: none;
    background-color: transparent; }
    .wecodeart-typeface-control button .ff-name {
      width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1;
      text-align: left; }
    .wecodeart-typeface-control button .ff-preview {
      line-height: 1;
      margin-left: auto;
      font-size: 21px; }


/*# sourceMappingURL=customizer-fonts.css.map*/