/*!********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/scss/frontend/frontend.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************/
:root {
  --wp--blue: #2388ed;
  --wp--indigo: #6610f2;
  --wp--purple: #6f42c1;
  --wp--pink: #d63384;
  --wp--red: #dc3545;
  --wp--orange: #fd7e14;
  --wp--yellow: #ffc107;
  --wp--green: #7dc855;
  --wp--teal: #20c997;
  --wp--cyan: #0dcaf0;
  --wp--black: #000;
  --wp--white: #fff;
  --wp--gray: #6c757d;
  --wp--gray-dark: #343a40;
  --wp--gray-100: #f8f9fa;
  --wp--gray-200: #e9ecef;
  --wp--gray-300: #dee2e6;
  --wp--gray-400: #ced4da;
  --wp--gray-500: #adb5bd;
  --wp--gray-600: #6c757d;
  --wp--gray-700: #495057;
  --wp--gray-800: #343a40;
  --wp--gray-900: #212529;
  --wp--font-system: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --wp--font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

abbr[title],
abbr[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  cursor: help;
}

b,
strong {
  font-weight: 700;
}

small, .small {
  font-size: var(--wp--preset--font-size--small);
}

mark, .mark {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--wp--gray-100);
}

sub,
sup {
  position: relative;
  font-size: 60%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
}

figure,
iframe,
svg,
img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

img {
  height: auto;
  backface-visibility: hidden;
}

svg {
  fill: currentColor;
}

pre,
code,
kbd,
samp {
  font-family: var(--wp--font-monospace);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: var(--wp--preset--font-size--small);
  background-color: var(--wp--preset--color--dark);
  color: white;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}

address {
  font-style: normal;
  line-height: inherit;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

/* 	= Base
--------------------------------------------------------------- */
.wp-site-blocks > * + * {
  margin-block-start: 0 !important;
}

.wp-site-blocks,
.wp-site-header,
.wp-site-footer {
  background-color: inherit;
}

.wp-site-header {
  position: relative;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  z-index: 15;
}
.has-scrolled .wp-site-header {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

.wp-site-footer {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
}

:where(.wp-block-post-author, .wp-block-post-author-name, .wp-block-post-date, .wp-block-post-terms, .wp-block-post-comments-link) .svg-inline {
  align-self: center;
  margin-right: 0.5rem;
  fill: currentColor;
}

:where(.wp-block-post-excerpt, .wp-block-post-content, .wp-block-post-comment-content)::after {
  content: "";
  display: table;
  clear: both;
}
:where(.wp-block-post-excerpt, .wp-block-post-content, .wp-block-post-comment-content) a:not([class]) {
  text-decoration: underline;
}

:is(.grid, .is-layout-grid) {
  --wp--style--block-gap: var(--wp--custom--gutter, 1rem);
  --wp--columns: 12;
  --wp--column-min: 0px;
  --wp--gap-count: calc(var(--wp--columns) - 1);
  --wp--gap-width: calc(var(--wp--gap-count) * var(--wp--style--block-gap));
  --wp--column-max: calc((100% - var(--wp--gap-width)) / var(--wp--columns));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--wp--column-min), var(--wp--column-max)), 1fr));
  grid-gap: var(--wp--style--block-gap);
}
:is(.grid, .is-layout-grid).is-layout-grid {
  grid-template-columns: repeat(auto-fill, minmax(max(var(--wp--column-min), var(--wp--column-max)), 1fr));
}
:is(.grid, .is-layout-grid) .span-1 {
  grid-column: auto/span 1;
}
:is(.grid, .is-layout-grid) .span-2 {
  grid-column: auto/span 2;
}
:is(.grid, .is-layout-grid) .span-3 {
  grid-column: auto/span 3;
}
:is(.grid, .is-layout-grid) .span-4 {
  grid-column: auto/span 4;
}
:is(.grid, .is-layout-grid) .span-5 {
  grid-column: auto/span 5;
}
:is(.grid, .is-layout-grid) .span-6 {
  grid-column: auto/span 6;
}
:is(.grid, .is-layout-grid) .span-7 {
  grid-column: auto/span 7;
}
:is(.grid, .is-layout-grid) .span-8 {
  grid-column: auto/span 8;
}
:is(.grid, .is-layout-grid) .span-9 {
  grid-column: auto/span 9;
}
:is(.grid, .is-layout-grid) .span-10 {
  grid-column: auto/span 10;
}
:is(.grid, .is-layout-grid) .span-11 {
  grid-column: auto/span 11;
}
:is(.grid, .is-layout-grid) .span-12 {
  grid-column: auto/span 12;
}
:is(.grid, .is-layout-grid) .start-1 {
  grid-column-start: 1;
}
:is(.grid, .is-layout-grid) .start-2 {
  grid-column-start: 2;
}
:is(.grid, .is-layout-grid) .start-3 {
  grid-column-start: 3;
}
:is(.grid, .is-layout-grid) .start-4 {
  grid-column-start: 4;
}
:is(.grid, .is-layout-grid) .start-5 {
  grid-column-start: 5;
}
:is(.grid, .is-layout-grid) .start-6 {
  grid-column-start: 6;
}
:is(.grid, .is-layout-grid) .start-7 {
  grid-column-start: 7;
}
:is(.grid, .is-layout-grid) .start-8 {
  grid-column-start: 8;
}
:is(.grid, .is-layout-grid) .start-9 {
  grid-column-start: 9;
}
:is(.grid, .is-layout-grid) .start-10 {
  grid-column-start: 10;
}
:is(.grid, .is-layout-grid) .start-11 {
  grid-column-start: 11;
}
@media (min-width: 576px) {
  :is(.grid, .is-layout-grid) .span-sm-1 {
    grid-column: auto/span 1;
  }
  :is(.grid, .is-layout-grid) .span-sm-2 {
    grid-column: auto/span 2;
  }
  :is(.grid, .is-layout-grid) .span-sm-3 {
    grid-column: auto/span 3;
  }
  :is(.grid, .is-layout-grid) .span-sm-4 {
    grid-column: auto/span 4;
  }
  :is(.grid, .is-layout-grid) .span-sm-5 {
    grid-column: auto/span 5;
  }
  :is(.grid, .is-layout-grid) .span-sm-6 {
    grid-column: auto/span 6;
  }
  :is(.grid, .is-layout-grid) .span-sm-7 {
    grid-column: auto/span 7;
  }
  :is(.grid, .is-layout-grid) .span-sm-8 {
    grid-column: auto/span 8;
  }
  :is(.grid, .is-layout-grid) .span-sm-9 {
    grid-column: auto/span 9;
  }
  :is(.grid, .is-layout-grid) .span-sm-10 {
    grid-column: auto/span 10;
  }
  :is(.grid, .is-layout-grid) .span-sm-11 {
    grid-column: auto/span 11;
  }
  :is(.grid, .is-layout-grid) .span-sm-12 {
    grid-column: auto/span 12;
  }
  :is(.grid, .is-layout-grid) .start-sm-1 {
    grid-column-start: 1;
  }
  :is(.grid, .is-layout-grid) .start-sm-2 {
    grid-column-start: 2;
  }
  :is(.grid, .is-layout-grid) .start-sm-3 {
    grid-column-start: 3;
  }
  :is(.grid, .is-layout-grid) .start-sm-4 {
    grid-column-start: 4;
  }
  :is(.grid, .is-layout-grid) .start-sm-5 {
    grid-column-start: 5;
  }
  :is(.grid, .is-layout-grid) .start-sm-6 {
    grid-column-start: 6;
  }
  :is(.grid, .is-layout-grid) .start-sm-7 {
    grid-column-start: 7;
  }
  :is(.grid, .is-layout-grid) .start-sm-8 {
    grid-column-start: 8;
  }
  :is(.grid, .is-layout-grid) .start-sm-9 {
    grid-column-start: 9;
  }
  :is(.grid, .is-layout-grid) .start-sm-10 {
    grid-column-start: 10;
  }
  :is(.grid, .is-layout-grid) .start-sm-11 {
    grid-column-start: 11;
  }
}
@media (min-width: 768px) {
  :is(.grid, .is-layout-grid) .span-md-1 {
    grid-column: auto/span 1;
  }
  :is(.grid, .is-layout-grid) .span-md-2 {
    grid-column: auto/span 2;
  }
  :is(.grid, .is-layout-grid) .span-md-3 {
    grid-column: auto/span 3;
  }
  :is(.grid, .is-layout-grid) .span-md-4 {
    grid-column: auto/span 4;
  }
  :is(.grid, .is-layout-grid) .span-md-5 {
    grid-column: auto/span 5;
  }
  :is(.grid, .is-layout-grid) .span-md-6 {
    grid-column: auto/span 6;
  }
  :is(.grid, .is-layout-grid) .span-md-7 {
    grid-column: auto/span 7;
  }
  :is(.grid, .is-layout-grid) .span-md-8 {
    grid-column: auto/span 8;
  }
  :is(.grid, .is-layout-grid) .span-md-9 {
    grid-column: auto/span 9;
  }
  :is(.grid, .is-layout-grid) .span-md-10 {
    grid-column: auto/span 10;
  }
  :is(.grid, .is-layout-grid) .span-md-11 {
    grid-column: auto/span 11;
  }
  :is(.grid, .is-layout-grid) .span-md-12 {
    grid-column: auto/span 12;
  }
  :is(.grid, .is-layout-grid) .start-md-1 {
    grid-column-start: 1;
  }
  :is(.grid, .is-layout-grid) .start-md-2 {
    grid-column-start: 2;
  }
  :is(.grid, .is-layout-grid) .start-md-3 {
    grid-column-start: 3;
  }
  :is(.grid, .is-layout-grid) .start-md-4 {
    grid-column-start: 4;
  }
  :is(.grid, .is-layout-grid) .start-md-5 {
    grid-column-start: 5;
  }
  :is(.grid, .is-layout-grid) .start-md-6 {
    grid-column-start: 6;
  }
  :is(.grid, .is-layout-grid) .start-md-7 {
    grid-column-start: 7;
  }
  :is(.grid, .is-layout-grid) .start-md-8 {
    grid-column-start: 8;
  }
  :is(.grid, .is-layout-grid) .start-md-9 {
    grid-column-start: 9;
  }
  :is(.grid, .is-layout-grid) .start-md-10 {
    grid-column-start: 10;
  }
  :is(.grid, .is-layout-grid) .start-md-11 {
    grid-column-start: 11;
  }
}
@media (min-width: 992px) {
  :is(.grid, .is-layout-grid) .span-lg-1 {
    grid-column: auto/span 1;
  }
  :is(.grid, .is-layout-grid) .span-lg-2 {
    grid-column: auto/span 2;
  }
  :is(.grid, .is-layout-grid) .span-lg-3 {
    grid-column: auto/span 3;
  }
  :is(.grid, .is-layout-grid) .span-lg-4 {
    grid-column: auto/span 4;
  }
  :is(.grid, .is-layout-grid) .span-lg-5 {
    grid-column: auto/span 5;
  }
  :is(.grid, .is-layout-grid) .span-lg-6 {
    grid-column: auto/span 6;
  }
  :is(.grid, .is-layout-grid) .span-lg-7 {
    grid-column: auto/span 7;
  }
  :is(.grid, .is-layout-grid) .span-lg-8 {
    grid-column: auto/span 8;
  }
  :is(.grid, .is-layout-grid) .span-lg-9 {
    grid-column: auto/span 9;
  }
  :is(.grid, .is-layout-grid) .span-lg-10 {
    grid-column: auto/span 10;
  }
  :is(.grid, .is-layout-grid) .span-lg-11 {
    grid-column: auto/span 11;
  }
  :is(.grid, .is-layout-grid) .span-lg-12 {
    grid-column: auto/span 12;
  }
  :is(.grid, .is-layout-grid) .start-lg-1 {
    grid-column-start: 1;
  }
  :is(.grid, .is-layout-grid) .start-lg-2 {
    grid-column-start: 2;
  }
  :is(.grid, .is-layout-grid) .start-lg-3 {
    grid-column-start: 3;
  }
  :is(.grid, .is-layout-grid) .start-lg-4 {
    grid-column-start: 4;
  }
  :is(.grid, .is-layout-grid) .start-lg-5 {
    grid-column-start: 5;
  }
  :is(.grid, .is-layout-grid) .start-lg-6 {
    grid-column-start: 6;
  }
  :is(.grid, .is-layout-grid) .start-lg-7 {
    grid-column-start: 7;
  }
  :is(.grid, .is-layout-grid) .start-lg-8 {
    grid-column-start: 8;
  }
  :is(.grid, .is-layout-grid) .start-lg-9 {
    grid-column-start: 9;
  }
  :is(.grid, .is-layout-grid) .start-lg-10 {
    grid-column-start: 10;
  }
  :is(.grid, .is-layout-grid) .start-lg-11 {
    grid-column-start: 11;
  }
}
@media (min-width: 1200px) {
  :is(.grid, .is-layout-grid) .span-xl-1 {
    grid-column: auto/span 1;
  }
  :is(.grid, .is-layout-grid) .span-xl-2 {
    grid-column: auto/span 2;
  }
  :is(.grid, .is-layout-grid) .span-xl-3 {
    grid-column: auto/span 3;
  }
  :is(.grid, .is-layout-grid) .span-xl-4 {
    grid-column: auto/span 4;
  }
  :is(.grid, .is-layout-grid) .span-xl-5 {
    grid-column: auto/span 5;
  }
  :is(.grid, .is-layout-grid) .span-xl-6 {
    grid-column: auto/span 6;
  }
  :is(.grid, .is-layout-grid) .span-xl-7 {
    grid-column: auto/span 7;
  }
  :is(.grid, .is-layout-grid) .span-xl-8 {
    grid-column: auto/span 8;
  }
  :is(.grid, .is-layout-grid) .span-xl-9 {
    grid-column: auto/span 9;
  }
  :is(.grid, .is-layout-grid) .span-xl-10 {
    grid-column: auto/span 10;
  }
  :is(.grid, .is-layout-grid) .span-xl-11 {
    grid-column: auto/span 11;
  }
  :is(.grid, .is-layout-grid) .span-xl-12 {
    grid-column: auto/span 12;
  }
  :is(.grid, .is-layout-grid) .start-xl-1 {
    grid-column-start: 1;
  }
  :is(.grid, .is-layout-grid) .start-xl-2 {
    grid-column-start: 2;
  }
  :is(.grid, .is-layout-grid) .start-xl-3 {
    grid-column-start: 3;
  }
  :is(.grid, .is-layout-grid) .start-xl-4 {
    grid-column-start: 4;
  }
  :is(.grid, .is-layout-grid) .start-xl-5 {
    grid-column-start: 5;
  }
  :is(.grid, .is-layout-grid) .start-xl-6 {
    grid-column-start: 6;
  }
  :is(.grid, .is-layout-grid) .start-xl-7 {
    grid-column-start: 7;
  }
  :is(.grid, .is-layout-grid) .start-xl-8 {
    grid-column-start: 8;
  }
  :is(.grid, .is-layout-grid) .start-xl-9 {
    grid-column-start: 9;
  }
  :is(.grid, .is-layout-grid) .start-xl-10 {
    grid-column-start: 10;
  }
  :is(.grid, .is-layout-grid) .start-xl-11 {
    grid-column-start: 11;
  }
}
@media (min-width: 1400px) {
  :is(.grid, .is-layout-grid) .span-xxl-1 {
    grid-column: auto/span 1;
  }
  :is(.grid, .is-layout-grid) .span-xxl-2 {
    grid-column: auto/span 2;
  }
  :is(.grid, .is-layout-grid) .span-xxl-3 {
    grid-column: auto/span 3;
  }
  :is(.grid, .is-layout-grid) .span-xxl-4 {
    grid-column: auto/span 4;
  }
  :is(.grid, .is-layout-grid) .span-xxl-5 {
    grid-column: auto/span 5;
  }
  :is(.grid, .is-layout-grid) .span-xxl-6 {
    grid-column: auto/span 6;
  }
  :is(.grid, .is-layout-grid) .span-xxl-7 {
    grid-column: auto/span 7;
  }
  :is(.grid, .is-layout-grid) .span-xxl-8 {
    grid-column: auto/span 8;
  }
  :is(.grid, .is-layout-grid) .span-xxl-9 {
    grid-column: auto/span 9;
  }
  :is(.grid, .is-layout-grid) .span-xxl-10 {
    grid-column: auto/span 10;
  }
  :is(.grid, .is-layout-grid) .span-xxl-11 {
    grid-column: auto/span 11;
  }
  :is(.grid, .is-layout-grid) .span-xxl-12 {
    grid-column: auto/span 12;
  }
  :is(.grid, .is-layout-grid) .start-xxl-1 {
    grid-column-start: 1;
  }
  :is(.grid, .is-layout-grid) .start-xxl-2 {
    grid-column-start: 2;
  }
  :is(.grid, .is-layout-grid) .start-xxl-3 {
    grid-column-start: 3;
  }
  :is(.grid, .is-layout-grid) .start-xxl-4 {
    grid-column-start: 4;
  }
  :is(.grid, .is-layout-grid) .start-xxl-5 {
    grid-column-start: 5;
  }
  :is(.grid, .is-layout-grid) .start-xxl-6 {
    grid-column-start: 6;
  }
  :is(.grid, .is-layout-grid) .start-xxl-7 {
    grid-column-start: 7;
  }
  :is(.grid, .is-layout-grid) .start-xxl-8 {
    grid-column-start: 8;
  }
  :is(.grid, .is-layout-grid) .start-xxl-9 {
    grid-column-start: 9;
  }
  :is(.grid, .is-layout-grid) .start-xxl-10 {
    grid-column-start: 10;
  }
  :is(.grid, .is-layout-grid) .start-xxl-11 {
    grid-column-start: 11;
  }
}

:where(.theme-wecodeart) :where(.has-border-color, [style*=border-width]) {
  border-style: solid;
}
:where(.theme-wecodeart) :where([style*=border-top-color], [style*=border-top-width]) {
  border-top-style: solid;
}
:where(.theme-wecodeart) :where([style*=border-left-color], [style*=border-left-width]) {
  border-left-style: solid;
}
:where(.theme-wecodeart) :where([style*=border-right-color], [style*=border-right-width]) {
  border-right-style: solid;
}
:where(.theme-wecodeart) :where([style*=border-bottom-color], [style*=border-bottom-width]) {
  border-bottom-style: solid;
}

.has-background-dim {
  --wp--bg--opacity: 0.5;
  opacity: var(--wp--bg--opacity);
}
.has-background-dim-0 {
  --wp--bg--opacity: 0;
}
.has-background-dim-10 {
  --wp--bg--opacity: 0.1;
}
.has-background-dim-20 {
  --wp--bg--opacity: 0.2;
}
.has-background-dim-30 {
  --wp--bg--opacity: 0.3;
}
.has-background-dim-40 {
  --wp--bg--opacity: 0.4;
}
.has-background-dim-50 {
  --wp--bg--opacity: 0.5;
}
.has-background-dim-60 {
  --wp--bg--opacity: 0.6;
}
.has-background-dim-70 {
  --wp--bg--opacity: 0.7;
}
.has-background-dim-80 {
  --wp--bg--opacity: 0.8;
}
.has-background-dim-90 {
  --wp--bg--opacity: 0.9;
}
.has-background-dim-100 {
  --wp--bg--opacity: 1;
}

.has-text-align-left {
  text-align: left;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-align-justify {
  text-align: justify;
}

.has-underline {
  text-decoration: underline;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.initialism {
  font-size: var(--wp--preset--font-size--small);
  text-transform: uppercase;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 300;
  line-height: 1.2;
}

.display-1 {
  font-size: var(--wp--custom--display--1);
}

.display-2 {
  font-size: var(--wp--custom--display--2);
}

.display-3 {
  font-size: var(--wp--custom--display--3);
}

.display-4 {
  font-size: var(--wp--custom--display--4);
}

.display-5 {
  font-size: var(--wp--custom--display--5);
}

.display-6 {
  font-size: var(--wp--custom--display--6);
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.svg-inline {
  display: inline-block;
  vertical-align: -0.125em;
  height: 1em;
}
.svg-inline .fa-secondary {
  opacity: 0.4;
}
.svg-inline.fa-fw {
  width: 1em;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden:not(caption),
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

.screen-reader-response,
.screen-reader-text {
  position: absolute;
  background-color: var(--wp--preset--color--light);
  color: var(--wp--preset--color--dark);
  padding: 0.5rem 1rem;
  top: 5px;
  left: 5px;
  z-index: 100000;
}
.screen-reader-response:not(:focus):not(:focus-within),
.screen-reader-text:not(:focus):not(:focus-within) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.screen-reader-response:not(:focus):not(:focus-within):not(caption),
.screen-reader-text:not(:focus):not(:focus-within):not(caption) {
  position: absolute !important;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.vr {
  display: inline-block;
  background-color: currentColor;
  width: 1px;
  min-height: 1em;
  opacity: 0.25;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

@media (min-width: 576px) {
  .sticky-sm-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 768px) {
  .sticky-md-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 992px) {
  .sticky-lg-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1200px) {
  .sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
@media (min-width: 1400px) {
  .sticky-xxl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

/*# sourceMappingURL=frontend.css.map*/