/* 	= Base
--------------------------------------------------------------- */
html {
    body {
        overflow-x: hidden;
    }
}

.alignnone {
    margin: 0 0 $spacer 0;
}

.aligncenter {
    display: block;
    margin: 0 auto $spacer;
}

.alignright {
    float: right;
    margin: 0 0 $spacer $spacer;
}

.alignleft {
    float: left;
    margin: 0 $spacer $spacer 0;
}

.has-background-dim {
    opacity: 0.5;
    z-index: 1;
    
    @for $i from 1 through 10 {
        &-#{ $i * 10 } { 
            opacity: $i * 0.1;
        }
    }
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: right;
}

.has-text-align-justify {
    text-align: justify;
}

.has-underline {
    text-decoration: underline;
}

.screen-reader-response,
.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;

    &:focus {
        background-color: var(--wp--preset--color--primary, #eee);
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        clip-path: none;
        color: var(--wp--preset--color--white, #444);
        display: block;
        width: auto;
        height: auto;
        left: 5px;
        top: 5px;
        padding: 15px 23px 14px;
        font-size: 1rem;
        font-weight: bold;
        line-height: normal;
        text-decoration: none;
        z-index: 100000; /* Above WP toolbar. */
    }
}

svg,
.svg-inline {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentColor;
    width: 1em;

    .fa-secondary {
        opacity: .4;
    }
}

figure,
iframe,
img {
    max-width: 100%;
}

img {
    height: auto;
    backface-visibility: hidden;
}

mark.has-inline-color {
    border-radius: .25rem;
    padding: .20rem .5rem;
    margin: 0 .3rem;
}

figcaption,
.wp-caption {
    font-size: var(--wp--preset--font-size--small);
    font-style: italic;
    padding: 5px 3px 10px;
    text-align: center;

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    p.wp-caption-text {
        font-size: var(--wp--preset--font-size--small);
        margin: 0;
        padding: 0 4px 5px;
    }
}

.bypostauthor,
.gallery-caption {
    color: inherit;
}

.wp-site-blocks,
.wp-site-credits,
.site-header,
.site-footer {
    background-color: inherit;
}

.site-footer,
.wp-site-credits {
    box-shadow: 0 0 1px 0 rgba( black, 0.15 );
}

.wp-site-credits {
    padding: 1rem 0;
}

.site-header {
    position: relative;
    box-shadow: 0 0 1px 0 rgba( black, 0.15 );
    z-index: 15;

    .has-scrolled & {
        box-shadow: 0 0 1px 1px rgba( black, 0.05 );
    }
}

.wp-block-column {
    width: 100%;
    flex: 1 0 0%;
}

.wp-block-post-meta {
    margin-bottom: .5rem;
}

:where(.wp-block-post-author, .wp-block-post-date, .wp-block-post-terms, .wp-block-post-comments-link) {
    color: var(--wp--gray-600);

    svg {
        margin-right: .5rem;
    }
}

:where(.wp-block-post-excerpt, .wp-block-post-content, .wp-block-post-comment-content) {
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    a:not([class]) {
        text-decoration: underline;
    }
}