/* 	= Base
--------------------------------------------------------------- */
html {
    body {
        overflow-x: hidden;
    }
}

/* 1.0 = WordPress Core */
.alignnone {
    margin: 0 0 $spacer 0;
}

.aligncenter {
    display: block;
    margin: 0 auto $spacer;
}

.alignright {
    float: right;
    margin: 0 0 $spacer $spacer;
}

.alignleft {
    float: left;
    margin: 0 $spacer $spacer 0;
}

p {
    &.has-drop-cap:not(:focus)::after {
        content: "";
        display: table;
        clear: both;
        padding-top: 15px;
    }

    &.has-text-color a {
        color: inherit;
    }

    &.has-background {
        padding: .5rem .8rem;
    }
}

svg,
.svg-inline {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentColor;
    width: 1em;
    height: 1em;

    .fa-secondary {
        opacity: .4;
    }
}

img {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
}

figcaption,
.wp-caption {
    font-size: var(--wp--preset--font-size--small);
    font-style: italic;
    padding: 5px 3px 10px;
    text-align: center;

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    p.wp-caption-text {
        font-size: var(--wp--preset--font-size--small);
        margin: 0;
        padding: 0 4px 5px;
    }
}

/* 2.0 = Widgets */
.widget_archive,
.widget_meta,
.widget_pages,
.widget_categories,
.widget_nav_menu,
.widget_recent_comments,
.widget_recent_entries {
    ul {
        list-style-type: none;
        padding-left: 0;

        a {
            padding: 0;
        }
    }
}

.widget_calendar {
    table {
        width: 100%;
    }
}

/* 3.0 = Blocks */
.wp-block-featured-image {
    .ratio > *,
    &__src,
    img {
        display: block;
        top: 50%!important;
        left: 50%!important;
        min-width: 100%;
        min-height: 100%;
        transform: translate3d(-50%,-50%,0);
        max-width: none;
        object-fit: cover;

        &.match {
            width: 100%; 
            height: 100%;
        }

        &.taller {
            width: 100%; 
            height: auto;
        }

        &.wider {
            width: auto;
            height: 100%;
        }

        &[data-placeholder-resp] {
            transition: filter .5s cubic-bezier(.6,-.28,.735,.045);
            filter: blur(5px);
        }
        
        &.litespeed-loaded {
            filter: none;
        }
    }
}

div[class*="wp-block-post-comments"] {
    textarea {
        min-height: 150px;
    }

    .comment-reply {
        margin-top: -1rem;
    }
}