/* 	= Base
--------------------------------------------------------------- */
html {
    body {
        overflow-x: hidden;
    }
}

.alignnone {
    margin: 0 0 $spacer 0;
}

.aligncenter {
    display: block;
    margin: 0 auto $spacer;
}

.alignright {
    float: right;
    margin: 0 0 $spacer $spacer;
}

.alignleft {
    float: left;
    margin: 0 $spacer $spacer 0;
}

p.has-background {
    padding: .5rem .8rem;
}

p.has-drop-cap.has-background {
	overflow: hidden;
}

:where(p.has-text-color:not(.has-link-color)) a {
	color: inherit;
}

svg,
.svg-inline {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentColor;
    width: 1em;

    .fa-secondary {
        opacity: .4;
    }
}

figure,
iframe,
img {
    max-width: 100%;
}

img {
    height: auto;
    backface-visibility: hidden;
}

figcaption,
.wp-caption {
    font-size: var(--wp--preset--font-size--small);
    font-style: italic;
    padding: 5px 3px 10px;
    text-align: center;

    img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }

    p.wp-caption-text {
        font-size: var(--wp--preset--font-size--small);
        margin: 0;
        padding: 0 4px 5px;
    }
}

.bypostauthor,
.gallery-caption {
    color: inherit;
}

.has-drop-cap:not(:focus)::first-letter {
	float: left;
	font-size: 8em;
	font-weight: 100;
	font-style: normal;
	line-height: 0.7;
	text-transform: uppercase;
	margin: 0.05em 0.1em 0 0;
}