// Reboot
//
// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.
//
// Normalize is licensed MIT. https://github.com/necolas/normalize.css

// Root
//
// Ability to the value of the root font sizes, affecting the value of `rem`.
// null by default, thus nothing is generated.
:root {
	// Note: Custom variable values only support SassScript inside `#{}`.
  
    // Colors
    //
    // Generate palettes for full colors, grays, and theme colors.
    @each $color, $value in $colors {
		--wp--#{$color}: #{$value};
	}

	@each $color, $value in $grays {
		--wp--gray-#{$color}: #{$value};
	}

	// Fonts
	// Note: Use `inspect` for lists so that quoted items keep the quotes.
	// See https://github.com/sass/sass/issues/2383#issuecomment-336349172
	--wp--font-system: #{inspect($font-family-sans-serif)};
	--wp--font-monospace: #{inspect($font-family-monospace)};
	
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

// Body
//
// 1. Prevent adjustments of font size after orientation changes in iOS.
// 2. Change the default tap highlight to be completely transparent in iOS.
// scss-docs-start reboot-body-rules
body {
	-webkit-text-size-adjust: 100%; // 1
	-webkit-tap-highlight-color: rgba(black, 0); // 2
	overflow-x: hidden;
}

// Typography
@each $tag, $value in $font-sizes {
	h#{$tag},
	.h#{$tag} {
		@include font-size($value);
	}
}

// Abbreviations
//
// 1. Duplicate behavior to the data-bs-* attribute for our tooltip plugin
// 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
// 3. Prevent the text-decoration to be skipped.
// 4. Add explicit cursor to indicate changed behavior.
abbr[title],
abbr[data-bs-original-title] { // 1
	text-decoration: underline dotted; // 2
	text-decoration-skip-ink: none; // 3
	cursor: help; // 4
}

// Strong
//
// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
	font-weight: 700;
}

// Small
//
// Add the correct font size in all browsers
small {
  	font-size: var(--wp--preset--font-size--small);
}

// Mark
mark {
	display: inline-block;
	padding: .2rem .5rem;
	border-radius: .25rem;
	background-color: var(--wp--gray-100);
}

// Sub and Sup
//
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
	position: relative;
	font-size: 60%;
	line-height: 0;
	vertical-align: baseline;
}

sub { 
	bottom: -.25em;
}

sup { 
	top: -.5em;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
}

// Images
figure,
iframe,
svg,
img {
	max-width: 100%;
}

img,
svg {
  	vertical-align: middle;
}

img {
    height: auto;
    backface-visibility: hidden;
}

svg {
	fill: currentColor;
}

// Pre/Code/Kbd/Samp
pre,
code,
kbd,
samp {
	font-family: var(--wp--font-monospace);
	font-size: 1em; // Correct the odd `em` font sizing in all browsers.
	direction: ltr #{"/* rtl:ignore */"};
	unicode-bidi: bidi-override;
}

// Kbd
kbd {
	padding: 0.2rem 0.4rem;
	font-size: var(--wp--preset--font-size--small);
	background-color: var(--wp--preset--color--dark);
	color: white;
	border-radius: .2rem;
}

kbd kbd {
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

// Address
address {
	font-style: normal;
	line-height: inherit;
}

// Correct element displays
output {
    display: inline-block;
}

// Summary
//
// 1. Add the correct display in all browsers
summary {
    display: list-item; // 1
    cursor: pointer;
}

// Progress
//
// Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
    vertical-align: baseline;
}