:root {
    // Note: Custom variable values only support SassScript inside `#{}`.
  
    // Colors
    //
    // Generate palettes for full colors, grays, and theme colors.
    @each $color, $value in $colors {
      --wp--#{$color}: #{$value};
    }
  
    @each $color, $value in $grays {
      --wp--gray-#{$color}: #{$value};
    }
  
    @each $color, $value in $theme-colors {
      --wp--#{$color}: #{$value};
    }
  
    @each $color, $value in $theme-colors-rgb {
      --wp--#{$color}-rgb: #{$value};
    }
  
    --wp--white-rgb: #{to-rgb($white)};
    --wp--black-rgb: #{to-rgb($black)};
    --wp--body-color-rgb: #{to-rgb($body-color)};
    --wp--body-bg-rgb: #{to-rgb($body-bg)};
  
    // Fonts
    // Note: Use `inspect` for lists so that quoted items keep the quotes.
    // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
    --wp--font-sans-serif: #{inspect($font-family-sans-serif)};
    --wp--font-monospace: #{inspect($font-family-monospace)};
    --wp--gradient: #{$gradient};
  
    // Root and body
    // stylelint-disable custom-property-empty-line-before
    // scss-docs-start root-body-variables
    @if $font-size-root != null {
      	--wp--root-font-size: #{$font-size-root};
    }
    --wp--body-font-family: #{$font-family-base};
    --wp--body-font-size: #{$font-size-base};
    --wp--body-font-weight: #{$font-weight-base};
    --wp--body-line-height: #{$line-height-base};
    --wp--body-color: #{$body-color};
    @if $body-text-align != null {
      	--wp--body-text-align: #{$body-text-align};
    }
    --wp--body-bg: #{$body-bg};
    // scss-docs-end root-body-variables
    // stylelint-enable custom-property-empty-line-before
}
  