/* Root */
@import './../abstracts/root';

/* Global */
.wp-site-blocks,
.wp-site-credits,
.site-header,
.site-footer {
    background-color: inherit;
}

.site-footer,
.wp-site-credits {
    box-shadow: 0 0 1px 0 rgba( black, 0.15 );
}

.site-header {
    position: relative;
    box-shadow: 0 0 1px 0 rgba( black, 0.15 );
    z-index: 15;

    .has-scrolled & {
        box-shadow: 0 0 1px 1px rgba( black, 0.05 );
    }
}

/* Blocks */
.wp-block-columns {
	@include make-row();
	
	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

.wp-block-column {
	@include make-col-ready();
    flex: 1 0 0%;

	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}

.wp-block-site-logo {
    &:where(.alignleft,.aligncenter,.alignright) {
        margin-bottom: 0;

        .navbar-brand {
            margin: 0;
        }
    }

    &.aligncenter {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.wp-block-post-excerpt,
.wp-block-post-content {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}