/* Global */
.site-header {
    position: relative;
    background-color: inherit;
    border-bottom: 1px solid var(--wca-light);
    z-index: 15;

    .has-scrolled & {
        box-shadow: 0 0 5px 3px var(--wca-gray-300);
    }
}

.archive-intro {
    &__svg {
        svg {
            width: 50px;
            height: 50px;

            .theme-is-dark & {
                fill: white;
            }
        }
    } 
}

:root {
    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary.active,
    .btn-outline-primary.dropdown-toggle.show,
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.dropdown-toggle.show {
        background-color: var(--wp--preset--color--primary, var(--wca-primary));
        border-color: var(--wp--preset--color--primary, var(--wca-primary));
    }

    .btn-outline-primary {
        color: var(--wp--preset--color--primary, var(--wca-primary));
        border-color: var(--wp--preset--color--primary, var(--wca-primary));
    }

    .border-primary {
        border-color: var(--wp--preset--color--primary, var(--wca-primary))!important;
    }

    .text-primary {
        color: var(--wp--preset--color--primary, var(--wca-primary))!important;
    }

    .bg-primary {
        background-color: var(--wp--preset--color--primary, var(--wca-primary))!important;
    }
}

@import './../abstracts/root';
@import './blocks/index';